//********************  FONTS  ***********************//

@family : librefranklin;

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-thin.woff2') format('woff2'),
         url('fonts/@{family}-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extralight.woff2') format('woff2'),
         url('fonts/@{family}-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-light.woff2') format('woff2'),
         url('fonts/@{family}-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-regular.woff2') format('woff2'),
         url('fonts/@{family}-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-medium.woff2') format('woff2'),
         url('fonts/@{family}-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-semibold.woff2') format('woff2'),
         url('fonts/@{family}-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-bold.woff2') format('woff2'),
         url('fonts/@{family}-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extrabold.woff2') format('woff2'),
         url('fonts/@{family}-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-black.woff2') format('woff2'),
         url('fonts/@{family}-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


//**************ITALIC**************//


@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-thin.woff2') format('woff2'),
         url('fonts/@{family}-thin.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extralight.woff2') format('woff2'),
         url('fonts/@{family}-extralight.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-light.woff2') format('woff2'),
         url('fonts/@{family}-light.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-regular.woff2') format('woff2'),
         url('fonts/@{family}-regular.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-medium.woff2') format('woff2'),
         url('fonts/@{family}-medium.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-semibold.woff2') format('woff2'),
         url('fonts/@{family}-semibold.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-bold.woff2') format('woff2'),
         url('fonts/@{family}-bold.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extrabold.woff2') format('woff2'),
         url('fonts/@{family}-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-black.woff2') format('woff2'),
         url('fonts/@{family}-black.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
