body#about {
    background-color: white;
}

#about .main {
    .absolute(@headerAtlas, 0, 0, 0);
}

#about .footer {
    background-color: black;
}

#about .how-to-img {
    .back-img(about-bloc2);
}

#about .grow-img {
    .back-img(about-bloc4);
}

#about .actors-img {
    .back-img(about-bloc6);
}

#about {
    .how-to-img,
    .grow-img,
    .actors-img {
        // width: 100vw;
        background-size: cover;
    }
    .how-to,
    .grow {
        height: auto;
        min-height: auto;
        background-color: #f9f9f5;
        @media @landscape-md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &>div {
                flex: 1;
                max-width: calc(~"(100vw - 8 * @{margin}) / 3");
            }
        }
    }
    .actors {
        height: auto;
        min-height: auto;
        background-color: #f9f9f5;
        .actors-list {
            columns: 3;
            column-gap: 2rem;
            line-height: 110%;
        }
    }
}
