body {
    font-family: 'librefranklin', sans-serif;
    font-weight: @light;
    background-color: @black;
    color: #fff;
}

.white {color: @white;}
.black {color: @black;}
.red {color: @red;}
.pink {color: @pink;}
.orange {color: @orange;}
.green {color: @green;}
.blue {color: @blue;}
.light-blue {color: @light-blue;}


a {color: @white;}
.black a {color: @black;}

article {
    position: relative;
    min-height: 100vh;
    padding: @margin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media @landscape-md {padding: @margin * 2;}
}

.pitch {
    font-weight: @bold;
    font-size: 2em;
    padding-bottom: @margin;
    letter-spacing: -0.01em;
    line-height: 92%;
}
.sub-pitch {
    font-size: 1.2em;
    padding-bottom: @margin;
}


.mob-portrait {
    min-height: auto;
    @media @landscape-md {
        display: none;
    }
}



.activite {.back-img(activite);}
.observe {.back-img(observe);}
