.home {.back-img(home);}

.home {
    // background-attachment: fixed;
    background-position: -50vw;
    // background-size: cover; // trick for ios bug on backg : fixed..

    @media @landscape {background-position: 0;}
    .site-title {
        margin-bottom: auto;
        padding-top: @margin * 2;
        padding-bottom: @margin;
    }

    .lang-switch {
        margin-left: @margin;
        text-transform: uppercase;
        font-size: 75%;

        a {margin-right: @margin;}
    }
}
