body.atlas  {
    background: @white;
    color: @black;

    a,
    a:link,
    a:visited,
    a:hover {
        color: #000;
    }

    h1 {
        font-weight: 100;
        font-size: 4rem;
        margin-top: 0px;
        margin-bottom: @margin;
        letter-spacing: -2px;
        line-height: 95%;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    .caption, .media-caption {
        font-size: 0.8rem;
    }

    .address,
    .identity,
    .services {
        .item .content {
            font-weight: 600;
        }
    }

    .photomaton {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
}
