@sidbarW: 100% / 3;
@contentW: 100% / 3 * 2;

.main-header,
.main-content {
    display : flex;
}

.nav-widget,
.block-left {
    width: @sidbarW;
    flex-shrink: 0;
}

.media-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width : calc(~"50% - @{margin} / 2");
        flex-shrink: 0;
        margin-bottom: @margin;
    }
}