
#header-atlas {
    font-size: 0.8rem;
    font-weight: bold;

    a {text-decoration: none;}

    > div {margin-right: @margin;}
    @media @landscape-md {
        > div {margin-right: 2 * @margin;}
    }

    .header-atlas-logo {
        img {width: @headerAtlas;}
    }

    .header-atlas-lang,
    .header-atlas-about {
        &:before {
            content: '\25B8';
            font-family: arial;
            font-size: 1rem;
            width: 1rem;
        }
    }
    .header-atlas-lang:before {color: rgb(139,197,62);}
    .header-atlas-about:before {color: rgb(0,146,69);}

    .header-atlas-print {
        position: absolute;
        right: 0;
        margin-right: @margin;
    }
    @media @landscape-md {
        .header-atlas-print {margin-right: 0;}
    }

}