body.atlas .main-header {
    
    .nav-widget {
        display: flex;
        justify-content: space-between;
        
        .map-link img,
        .svg-navigator{
            width: 150px;
        }
    }
}