.atlas {

    .media-collection {
        margin-top: @margin;

        .media-video {
            position: relative;
            min-height: 50vw;
            width: 100%;
            align-self: center;
            margin-bottom: @sm-margin;
    
            iframe {
                .absolute(0,0,0,0);
                width: 100%;
                height: 100%;
            }
        }
    
        .media-image-wrapper {
            a {
            text-decoration: none;
            }

            .media-image {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

        }

    
        @media @landscape-md {
            .media-video {
                min-height: calc(~"(100vw - 100px) / 4 * (3/4)");
                min-height: initial;
                padding-bottom: 30%;
                width: calc(~"50% - @{margin} / 2");
                margin-bottom: @margin;
            }
        }
    }
}




