@margin-print : 5pt;
@big-margin-print : 14pt;

@media print {
    #header-atlas,
    .nav-widget,
    .footer-atlas,
    .media-video {
        display: none !important;
    }

    body {
        font-size : 6pt !important;
    }

    h1 {
        font-size: 36pt !important;
    }
    h2 {
        font-size: 8pt !important;
    }
    .caption,
    .media-caption {font-size: 3pt !important;}




    .main {
        margin: 0 !important;
        padding: 0 !important;
        // grid-gap: 5pt !important; seems that grid doesn't work on print.. to be tested
    }

    .block-left {
        padding-right: @margin-print !important;
        font-size: 80%;
    }

    .block-left .item {
        margin : 2pt 0 !important;
    }

    body.atlas .main .media-image-wrapper {
        width: calc(~"100% / 12 * 3 - @{margin-print}") !important;
        margin-left: @margin-print !important;
        margin-bottom: @margin-print !important;
    }


    .main .item .content {
        // padding-left: @margin-print * 2 !important;
        padding-left: @big-margin-print !important;
    }

    .services .item {

        .label {
            padding-left: @big-margin-print !important;
        }

        .content {
            display: block !important;

            .k-score {
                width: @big-margin-print !important;
                margin-left: -@big-margin-print !important;
                float: left;
            }

            .k-label {
                width: calc(~"100% - @{big-margin-print}") !important;
            }
        }
    }

    body.atlas .main .block-middle .heritage div:before,
    body.atlas .main .twinning div li:before,
    body.atlas .main .linked-medias li:before {
        padding-right: @big-margin-print !important;
    }

    .portrait {
        display: block !important;
        position: relative !important;
        page-break-before: always !important;
        page-break-inside: avoid !important;

        p {
            page-break-inside: avoid !important;
        }
    }

    .media-image-wrapper,
    .twinning,
    .linked-medias {
        page-break-inside: avoid !important;
    }
}



//
// @media print {
// * {
//     -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
//     color-adjust: exact !important;  /*Firefox*/
//   }
// }
