// Structure, margin etc...

body.atlas {
    overflow-x: hidden;
}

body.atlas .main{
    padding: @sm-margin;

    .heritage div {
        &:before {
            content: "•";
            width: 1em;
            padding-right: 1ch;
        }
    }
    

    .planche-bota-wrapper {
        margin-top: @margin;
            img {
            width: 100%;
            height: auto;
        }
    }

    .portrait {
        background-color: #f9f9f5;
        padding: 3 * @sm-margin;
    }


    .twinning div li,
    .linked-medias li
     {
        list-style: none;
        list-style-type: none;
        &:before {
            content: "•";
            width: 1em;
            padding-right: 1ch;
        }
    }
    .twinning div li,
    .linked-medias li
     {
        margin-bottom: @sm-margin;
    }
}

body.atlas .footer-atlas {
    position: relative;
    clear: both;
    font-size: 0.8rem;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;

    img {height: 30px;}
    a{color: #fff; text-decoration: none;}

    .copyright, .ac-credits {
        position: relative;
        right: auto;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;

        a {
            padding-left: .7em;
            color: white;
            font-size: inherit;
            font-weight: bold;

        }
    }
}

@media @landscape-md {
    body.atlas #header-atlas {
        position: fixed;
        z-index: 10;
    }

    body.atlas .main{
        margin-top: @headerAtlas;
        padding: 1rem;

        .block-left,
        .block-middle {
            padding-right: 2 * @margin;
        }

        .portrait {
            column-count: 2;
            column-gap: 2 * @margin;
            padding: 4 * @margin;
        }
    }
}
