
/******** MEDIA QUERIES ********/

@l-200 : ~"(orientation: landscape) and (min-width: 200px)";
@l-400 : ~"(orientation: landscape) and (min-width: 400px)";
@l-600 : ~"(orientation: landscape) and (min-width: 600px)";
@l-800 : ~"(orientation: landscape) and (min-width: 800px)";
@l-1000: ~"(orientation: landscape) and (min-width: 1000px)";
@l-1200: ~"(orientation: landscape) and (min-width: 1200px)";
@l-1400: ~"(orientation: landscape) and (min-width: 1400px)";
@l-1600: ~"(orientation: landscape) and (min-width: 1600px)";
@l-1800: ~"(orientation: landscape) and (min-width: 1800px)";
@l-2000: ~"(orientation: landscape) and (min-width: 2000px)";
@l-2200: ~"(orientation: landscape) and (min-width: 2200px)";

@p-200 : ~"(orientation: portrait) and (min-height: 200px)";
@p-400 : ~"(orientation: portrait) and (min-height: 400px)";
@p-600 : ~"(orientation: portrait) and (min-height: 600px)";
@p-800 : ~"(orientation: portrait) and (min-height: 800px)";
@p-1000: ~"(orientation: portrait) and (min-height: 1000px)";
@p-1200: ~"(orientation: portrait) and (min-height: 1200px)";
@p-1400: ~"(orientation: portrait) and (min-height: 1400px)";
@p-1600: ~"(orientation: portrait) and (min-height: 1600px)";
@p-1800: ~"(orientation: portrait) and (min-height: 1800px)";
@p-2000: ~"(orientation: portrait) and (min-height: 2000px)";
@p-2200: ~"(orientation: portrait) and (min-height: 2200px)";

/******** BACKGROUND IMAGES MIXIN ********/

.back-img(@img, @format:jpg) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media @l-200 {background-image:  url("images/pyramid/landscape/400/@{img}.@{format}");}
    @media @l-400 {background-image:  url("images/pyramid/landscape/600/@{img}.@{format}");}
    @media @l-600 {background-image:  url("images/pyramid/landscape/800/@{img}.@{format}");}
    @media @l-800 {background-image:  url("images/pyramid/landscape/1000/@{img}.@{format}");}
    @media @l-1000 {background-image: url("images/pyramid/landscape/1200/@{img}.@{format}");}
    @media @l-1200 {background-image: url("images/pyramid/landscape/1400/@{img}.@{format}");}
    @media @l-1400 {background-image: url("images/pyramid/landscape/1600/@{img}.@{format}");}
    @media @l-1600 {background-image: url("images/pyramid/landscape/1800/@{img}.@{format}");}
    @media @l-1800 {background-image: url("images/pyramid/landscape/2000/@{img}.@{format}");}
    @media @l-2000 {background-image: url("images/pyramid/landscape/2200/@{img}.@{format}");}
    @media @l-2200 {background-image: url("images/pyramid/landscape/2400/@{img}.@{format}");}

    @media @p-200 {background-image:  url("images/pyramid/portrait/400/@{img}.@{format}");}
    @media @p-400 {background-image:  url("images/pyramid/portrait/600/@{img}.@{format}");}
    @media @p-600 {background-image:  url("images/pyramid/portrait/800/@{img}.@{format}");}
    @media @p-800 {background-image:  url("images/pyramid/portrait/1000/@{img}.@{format}");}
    @media @p-1000 {background-image: url("images/pyramid/portrait/1200/@{img}.@{format}");}
    @media @p-1200 {background-image: url("images/pyramid/portrait/1400/@{img}.@{format}");}
    @media @p-1400 {background-image: url("images/pyramid/portrait/1600/@{img}.@{format}");}
    @media @p-1600 {background-image: url("images/pyramid/portrait/1800/@{img}.@{format}");}
    @media @p-1800 {background-image: url("images/pyramid/portrait/2000/@{img}.@{format}");}
    @media @p-2000 {background-image: url("images/pyramid/portrait/2200/@{img}.@{format}");}
    @media @p-2200 {background-image: url("images/pyramid/portrait/2400/@{img}.@{format}");}
}
