//********************  INPUTS, TEXT AREAS & FOCUS ***********************//

input {
    padding: @margin / 2;
    border: 1px solid @grey-light;
    width: 100%;
}

input:focus {
    border-color: @green;
}

:focus {
    outline: 0;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}

:focus {
    outline: 0;
}




::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:@grey-light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:@grey-light;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:@grey-light;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:@grey-light;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:@grey-light;
}
