/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/******** BOX SIZING RESET ********/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/******** MIXINS & Co ********/
/******** MEDIA QUERIES ********/
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-thin.woff2') format('woff2'), url('fonts/librefranklin-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-extralight.woff2') format('woff2'), url('fonts/librefranklin-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-light.woff2') format('woff2'), url('fonts/librefranklin-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-regular.woff2') format('woff2'), url('fonts/librefranklin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-medium.woff2') format('woff2'), url('fonts/librefranklin-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-semibold.woff2') format('woff2'), url('fonts/librefranklin-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-bold.woff2') format('woff2'), url('fonts/librefranklin-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-extrabold.woff2') format('woff2'), url('fonts/librefranklin-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-black.woff2') format('woff2'), url('fonts/librefranklin-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-thin.woff2') format('woff2'), url('fonts/librefranklin-thin.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-extralight.woff2') format('woff2'), url('fonts/librefranklin-extralight.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-light.woff2') format('woff2'), url('fonts/librefranklin-light.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-regular.woff2') format('woff2'), url('fonts/librefranklin-regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-medium.woff2') format('woff2'), url('fonts/librefranklin-medium.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-semibold.woff2') format('woff2'), url('fonts/librefranklin-semibold.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-bold.woff2') format('woff2'), url('fonts/librefranklin-bold.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-extrabold.woff2') format('woff2'), url('fonts/librefranklin-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'librefranklin';
  src: url('fonts/librefranklin-black.woff2') format('woff2'), url('fonts/librefranklin-black.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
button {
  font-family: monospace;
  min-width: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
button {
  color: #70B62C;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
button:hover {
  border-color: #70B62C;
}
button.remove {
  color: red;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
button.remove:hover {
  border-color: red;
}
input {
  padding: 0.5rem;
  border: 1px solid #dadada;
  width: 100%;
}
input:focus {
  border-color: #70B62C;
}
:focus {
  outline: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px;
}
:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #dadada;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dadada;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dadada;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}
/******** MEDIA QUERIES ********/
/******** BACKGROUND IMAGES MIXIN ********/
body#about {
  background-color: white;
}
#about .main {
  position: absolute;
  top: 2.5rem;
  right: 0;
  bottom: 0;
  left: 0;
}
#about .footer {
  background-color: black;
}
#about .how-to-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/400/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/600/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/800/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/1000/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/1200/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/1400/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/1600/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/1800/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/2000/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/2200/about-bloc2.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/landscape/2400/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/400/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/600/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/800/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/1000/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/1200/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/1400/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/1600/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/1800/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/2000/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/2200/about-bloc2.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  #about .how-to-img {
    background-image: url("images/pyramid/portrait/2400/about-bloc2.jpg");
  }
}
#about .grow-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/400/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/600/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/800/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/1000/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/1200/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/1400/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/1600/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/1800/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/2000/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/2200/about-bloc4.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  #about .grow-img {
    background-image: url("images/pyramid/landscape/2400/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/400/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/600/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/800/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/1000/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/1200/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/1400/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/1600/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/1800/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/2000/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/2200/about-bloc4.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  #about .grow-img {
    background-image: url("images/pyramid/portrait/2400/about-bloc4.jpg");
  }
}
#about .actors-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/400/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/600/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/800/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/1000/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/1200/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/1400/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/1600/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/1800/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/2000/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/2200/about-bloc6.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  #about .actors-img {
    background-image: url("images/pyramid/landscape/2400/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/400/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/600/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/800/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/1000/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/1200/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/1400/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/1600/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/1800/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/2000/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/2200/about-bloc6.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  #about .actors-img {
    background-image: url("images/pyramid/portrait/2400/about-bloc6.jpg");
  }
}
#about .how-to-img,
#about .grow-img,
#about .actors-img {
  background-size: cover;
}
#about .how-to,
#about .grow {
  height: auto;
  min-height: auto;
  background-color: #f9f9f5;
}
@media (min-width: 48em) and (orientation: landscape) {
  #about .how-to,
  #about .grow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #about .how-to > div,
  #about .grow > div {
    flex: 1;
    max-width: calc((100vw - 8 * 1rem) / 3);
  }
}
#about .actors {
  height: auto;
  min-height: auto;
  background-color: #f9f9f5;
}
#about .actors .actors-list {
  columns: 3;
  column-gap: 2rem;
  line-height: 110%;
}
.before-after {
  color: #000;
  background-color: #f9f9f5;
  padding-bottom: 3rem;
  min-height: initial;
}
@media (min-width: 48em) and (orientation: landscape) {
  .before-after {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .before-after > div {
    flex: 1;
    max-width: 20vw;
  }
}
.pitch.long {
  font-weight: 100;
  font-size: 2.2rem;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .circle {
    margin: auto;
  }
}
.circle img {
  margin: 1rem 0;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .circle img {
    max-width: 33vw;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .circle img {
    margin: 1rem 12.5%;
  }
}
.ba-txt-wrapper .pitch span {
  display: block;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .ba-txt-wrapper {
    max-width: 50%;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .ba-txt-wrapper {
    max-width: 50vh;
  }
}
.footer .sub-pitch.fb {
  display: flex;
  align-items: center;
}
.footer .sub-pitch.fb a {
  margin-right: 1rem;
}
@media (min-width: 48em) {
  .footer {
    justify-content: flex-start;
  }
}
.footer .imago-www {
  width: 100%;
  padding: 1rem 0;
}
.footer .prod {
  margin-bottom: 3rem;
}
.footer .prod img {
  max-height: 100px;
}
.footer .collaboration {
  margin-bottom: 3rem;
}
.footer .partners {
  display: flex;
  flex-wrap: wrap;
}
.footer .partners div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.footer .partners img {
  margin: 1rem;
}
.footer .imago-wrapper .sub-pitch {
  margin: 1rem 0;
}
@media (min-width: 48em) {
  .footer .imago-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .imago-wrapper .imago-www {
    flex: 1;
    max-width: 50vw;
  }
  .footer .imago-wrapper .imago-text {
    flex: 1;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .footer .imago-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .imago-wrapper .imago-text {
    flex: 1;
  }
  .footer .imago-wrapper .imago-www {
    flex: 2;
  }
  .footer .imago-wrapper .imago-www img {
    width: 66%;
  }
}
.footer #mc_embed_signup {
  max-width: 300px;
}
.footer #mc_embed_signup input#mc-embedded-subscribe {
  max-width: 150px;
  margin-top: 1rem;
  background-color: #70B62C;
  border: 0px;
  color: #fff;
}
.footer .copyright {
  margin-top: 1em;
  margin-bottom: -1em;
}
.footer .ac-credits {
  text-align: right;
}
body {
  font-family: 'librefranklin', sans-serif;
  font-weight: 300;
  background-color: #000;
  color: #fff;
}
.white {
  color: #ffffff;
}
.black {
  color: #000;
}
.red {
  color: #CD1719;
}
.pink {
  color: #C27FB5;
}
.orange {
  color: #ff9119;
}
.green {
  color: #70B62C;
}
.blue {
  color: #283583;
}
.light-blue {
  color: #D9EFFD;
}
a {
  color: #ffffff;
}
.black a {
  color: #000;
}
article {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 48em) and (orientation: landscape) {
  article {
    padding: 2rem;
  }
}
.pitch {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 1rem;
  letter-spacing: -0.01em;
  line-height: 92%;
}
.sub-pitch {
  font-size: 1.2em;
  padding-bottom: 1rem;
}
.mob-portrait {
  min-height: auto;
}
@media (min-width: 48em) and (orientation: landscape) {
  .mob-portrait {
    display: none;
  }
}
.activite {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  .activite {
    background-image: url("images/pyramid/landscape/400/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .activite {
    background-image: url("images/pyramid/landscape/600/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .activite {
    background-image: url("images/pyramid/landscape/800/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .activite {
    background-image: url("images/pyramid/landscape/1000/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .activite {
    background-image: url("images/pyramid/landscape/1200/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .activite {
    background-image: url("images/pyramid/landscape/1400/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .activite {
    background-image: url("images/pyramid/landscape/1600/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .activite {
    background-image: url("images/pyramid/landscape/1800/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .activite {
    background-image: url("images/pyramid/landscape/2000/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .activite {
    background-image: url("images/pyramid/landscape/2200/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .activite {
    background-image: url("images/pyramid/landscape/2400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .activite {
    background-image: url("images/pyramid/portrait/400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .activite {
    background-image: url("images/pyramid/portrait/600/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .activite {
    background-image: url("images/pyramid/portrait/800/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .activite {
    background-image: url("images/pyramid/portrait/1000/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .activite {
    background-image: url("images/pyramid/portrait/1200/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .activite {
    background-image: url("images/pyramid/portrait/1400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .activite {
    background-image: url("images/pyramid/portrait/1600/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .activite {
    background-image: url("images/pyramid/portrait/1800/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .activite {
    background-image: url("images/pyramid/portrait/2000/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .activite {
    background-image: url("images/pyramid/portrait/2200/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .activite {
    background-image: url("images/pyramid/portrait/2400/activite.jpg");
  }
}
.observe {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  .observe {
    background-image: url("images/pyramid/landscape/400/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .observe {
    background-image: url("images/pyramid/landscape/600/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .observe {
    background-image: url("images/pyramid/landscape/800/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .observe {
    background-image: url("images/pyramid/landscape/1000/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .observe {
    background-image: url("images/pyramid/landscape/1200/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .observe {
    background-image: url("images/pyramid/landscape/1400/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .observe {
    background-image: url("images/pyramid/landscape/1600/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .observe {
    background-image: url("images/pyramid/landscape/1800/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .observe {
    background-image: url("images/pyramid/landscape/2000/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .observe {
    background-image: url("images/pyramid/landscape/2200/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .observe {
    background-image: url("images/pyramid/landscape/2400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .observe {
    background-image: url("images/pyramid/portrait/400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .observe {
    background-image: url("images/pyramid/portrait/600/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .observe {
    background-image: url("images/pyramid/portrait/800/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .observe {
    background-image: url("images/pyramid/portrait/1000/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .observe {
    background-image: url("images/pyramid/portrait/1200/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .observe {
    background-image: url("images/pyramid/portrait/1400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .observe {
    background-image: url("images/pyramid/portrait/1600/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .observe {
    background-image: url("images/pyramid/portrait/1800/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .observe {
    background-image: url("images/pyramid/portrait/2000/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .observe {
    background-image: url("images/pyramid/portrait/2200/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .observe {
    background-image: url("images/pyramid/portrait/2400/observe.jpg");
  }
}
.home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  .home {
    background-image: url("images/pyramid/landscape/400/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .home {
    background-image: url("images/pyramid/landscape/600/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .home {
    background-image: url("images/pyramid/landscape/800/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .home {
    background-image: url("images/pyramid/landscape/1000/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .home {
    background-image: url("images/pyramid/landscape/1200/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .home {
    background-image: url("images/pyramid/landscape/1400/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .home {
    background-image: url("images/pyramid/landscape/1600/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .home {
    background-image: url("images/pyramid/landscape/1800/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .home {
    background-image: url("images/pyramid/landscape/2000/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .home {
    background-image: url("images/pyramid/landscape/2200/home.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .home {
    background-image: url("images/pyramid/landscape/2400/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .home {
    background-image: url("images/pyramid/portrait/400/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .home {
    background-image: url("images/pyramid/portrait/600/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .home {
    background-image: url("images/pyramid/portrait/800/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .home {
    background-image: url("images/pyramid/portrait/1000/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .home {
    background-image: url("images/pyramid/portrait/1200/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .home {
    background-image: url("images/pyramid/portrait/1400/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .home {
    background-image: url("images/pyramid/portrait/1600/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .home {
    background-image: url("images/pyramid/portrait/1800/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .home {
    background-image: url("images/pyramid/portrait/2000/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .home {
    background-image: url("images/pyramid/portrait/2200/home.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .home {
    background-image: url("images/pyramid/portrait/2400/home.jpg");
  }
}
.home {
  background-position: -50vw;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .home {
    background-position: 0;
  }
}
.home .site-title {
  margin-bottom: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.home .lang-switch {
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 75%;
}
.home .lang-switch a {
  margin-right: 1rem;
}
.map {
  background-color: #ffffff;
}
.map {
  padding-bottom: 3rem;
  background-color: #ffffff;
  min-height: initial;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .map {
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .map {
    padding-bottom: 3rem;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .map .map-text-wrapper {
    display: block;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .map .map-text-wrapper {
    flex: 33%;
  }
}
.map .map-gif {
  width: 100%;
  text-align: center;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .map .map-gif {
    max-width: 45vw;
    margin: auto;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .map .map-gif {
    flex: 66%;
    max-width: none;
    margin: 0;
  }
}
.map .map-gif img {
  max-width: 100%;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .map .map-gif img {
    max-width: 80vh;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .map .map-gif img {
    max-width: none;
    max-height: 80vh;
  }
}
.counter {
  margin: 0.5rem 0;
  display: flex;
}
.counter .digit-wrapper {
  padding: 0 0.2em;
  border: 1px solid #000;
  height: 1.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter .digit-wrapper .digit:first-child {
  margin-top: 0.2em;
}
.media-pitch {
  height: auto;
  min-height: initial;
}
.media-label {
  height: auto;
  min-height: initial;
}
.media-label .pitch {
  margin: 0;
  padding: 0;
}
.media-audio {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/400/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/600/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/800/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/1000/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/1200/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/1400/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/1600/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/1800/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/2000/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/2200/audio.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .media-audio {
    background-image: url("images/pyramid/landscape/2400/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/400/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/600/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/800/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/1000/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/1200/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/1400/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/1600/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/1800/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/2000/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/2200/audio.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .media-audio {
    background-image: url("images/pyramid/portrait/2400/audio.jpg");
  }
}
.media-audio audio {
  opacity: 0.5;
}
.media-video {
  width: 100%;
  height: 0;
  min-height: initial;
  padding-bottom: 56.25%;
}
.media-video .video-v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-video .video-text {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 2rem;
  left: initial;
  z-index: 2;
}
.media-video .video-text {
  display: none;
}
@media (min-width: 48em) and (orientation: landscape) {
  .media-video .video-text {
    display: block;
    margin-bottom: 7vh;
  }
}
.media-avap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) and (min-width: 200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/400/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/600/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/800/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1000/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1200/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1400/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1600/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1800/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2000/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2200/1930-2015-vert.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2400/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/400/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/600/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/800/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1000/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1200/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1400/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1600/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1800/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2000/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2200/1930-2015-vert.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2400/1930-2015-vert.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .media-avap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 44.44444444vw;
    min-height: 44.44444444vw;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/400/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 400px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/600/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 600px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/800/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 800px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1000/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1000px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1200/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1400/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1400px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1600/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1600px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/1800/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1800px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2000/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2000px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2200/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2200px) {
  .media-avap {
    background-image: url("images/pyramid/landscape/2400/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/400/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 400px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/600/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 600px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/800/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 800px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1000/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1000px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1200/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1400/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1400px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1600/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1600px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/1800/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1800px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2000/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2000px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2200/1930-2015.jpg");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2200px) {
  .media-avap {
    background-image: url("images/pyramid/portrait/2400/1930-2015.jpg");
  }
}
.media-avap .pitch,
.media-avap .sub-pitch {
  display: none;
}
@media (min-width: 48em) and (orientation: landscape) {
  .media-avap .pitch,
  .media-avap .sub-pitch {
    display: block;
  }
}
.portrait {
  padding-bottom: 3rem;
  background-color: #ffffff;
  min-height: initial;
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .portrait {
    padding-bottom: 0;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .portrait {
    padding-bottom: 3rem;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .portrait .portrait-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    height: 100vh;
  }
}
@media (min-width: 48em) and (orientation: landscape) {
  .portrait .portrait-wrapper {
    height: initial;
  }
}
.portrait .illu-fiches-fr {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-size: contain;
  margin: 1rem 0;
}
@media (orientation: landscape) and (min-width: 200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/400/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/600/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/800/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1000/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1200/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1400/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1600/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1800/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2000/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2200/fiche-mob-fr.png");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2400/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/400/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/600/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/800/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1000/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1200/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1400/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1600/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1800/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2000/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2200/fiche-mob-fr.png");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2400/fiche-mob-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .portrait .illu-fiches-fr {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: contain;
    height: 45vw;
    max-height: 400px;
    border-left: 4vw solid #fff;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/400/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/600/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/800/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1000/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1200/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1400/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1600/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/1800/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2000/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2200/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/landscape/2400/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/400/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/600/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/800/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1000/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1200/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1400/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1400px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1600/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1600px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/1800/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1800px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2000/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2000px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2200/fiche-desk-fr.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2200px) {
  .portrait .illu-fiches-fr {
    background-image: url("images/pyramid/portrait/2400/fiche-desk-fr.png");
  }
}
.portrait .illu-fiches-nl {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-size: contain;
  margin: 1rem 0;
}
@media (orientation: landscape) and (min-width: 200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/400/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/600/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/800/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1000/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1200/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1400/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1600/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1800/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2000/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2200/fiche-mob-nl.png");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2400/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/400/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/600/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/800/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1000/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1200/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1400/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1600/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1800/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2000/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2200/fiche-mob-nl.png");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2400/fiche-mob-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) {
  .portrait .illu-fiches-nl {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: contain;
    height: 45vw;
    max-height: 400px;
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/400/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/600/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/800/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1000/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1200/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1400/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1600/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/1800/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 1800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2000/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2200/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: landscape) and (min-width: 2200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/landscape/2400/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/400/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/600/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/800/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1000/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1200/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1400/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1400px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1600/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1600px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/1800/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 1800px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2000/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2000px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2200/fiche-desk-nl.png");
  }
}
@media (min-width: 35.5em) and (orientation: landscape) and (orientation: portrait) and (min-height: 2200px) {
  .portrait .illu-fiches-nl {
    background-image: url("images/pyramid/portrait/2400/fiche-desk-nl.png");
  }
}
.observe {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
@media (orientation: landscape) and (min-width: 200px) {
  .observe {
    background-image: url("images/pyramid/landscape/400/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .observe {
    background-image: url("images/pyramid/landscape/600/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .observe {
    background-image: url("images/pyramid/landscape/800/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .observe {
    background-image: url("images/pyramid/landscape/1000/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .observe {
    background-image: url("images/pyramid/landscape/1200/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .observe {
    background-image: url("images/pyramid/landscape/1400/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .observe {
    background-image: url("images/pyramid/landscape/1600/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .observe {
    background-image: url("images/pyramid/landscape/1800/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .observe {
    background-image: url("images/pyramid/landscape/2000/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .observe {
    background-image: url("images/pyramid/landscape/2200/observe.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .observe {
    background-image: url("images/pyramid/landscape/2400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .observe {
    background-image: url("images/pyramid/portrait/400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .observe {
    background-image: url("images/pyramid/portrait/600/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .observe {
    background-image: url("images/pyramid/portrait/800/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .observe {
    background-image: url("images/pyramid/portrait/1000/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .observe {
    background-image: url("images/pyramid/portrait/1200/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .observe {
    background-image: url("images/pyramid/portrait/1400/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .observe {
    background-image: url("images/pyramid/portrait/1600/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .observe {
    background-image: url("images/pyramid/portrait/1800/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .observe {
    background-image: url("images/pyramid/portrait/2000/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .observe {
    background-image: url("images/pyramid/portrait/2200/observe.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .observe {
    background-image: url("images/pyramid/portrait/2400/observe.jpg");
  }
}
.observe .pitch,
.observe .sub-pitch {
  text-shadow: 0px 0px 10px #000000;
}
.activite {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
@media (orientation: landscape) and (min-width: 200px) {
  .activite {
    background-image: url("images/pyramid/landscape/400/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 400px) {
  .activite {
    background-image: url("images/pyramid/landscape/600/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 600px) {
  .activite {
    background-image: url("images/pyramid/landscape/800/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 800px) {
  .activite {
    background-image: url("images/pyramid/landscape/1000/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .activite {
    background-image: url("images/pyramid/landscape/1200/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .activite {
    background-image: url("images/pyramid/landscape/1400/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .activite {
    background-image: url("images/pyramid/landscape/1600/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .activite {
    background-image: url("images/pyramid/landscape/1800/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 1800px) {
  .activite {
    background-image: url("images/pyramid/landscape/2000/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2000px) {
  .activite {
    background-image: url("images/pyramid/landscape/2200/activite.jpg");
  }
}
@media (orientation: landscape) and (min-width: 2200px) {
  .activite {
    background-image: url("images/pyramid/landscape/2400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 200px) {
  .activite {
    background-image: url("images/pyramid/portrait/400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 400px) {
  .activite {
    background-image: url("images/pyramid/portrait/600/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 600px) {
  .activite {
    background-image: url("images/pyramid/portrait/800/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 800px) {
  .activite {
    background-image: url("images/pyramid/portrait/1000/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1000px) {
  .activite {
    background-image: url("images/pyramid/portrait/1200/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1200px) {
  .activite {
    background-image: url("images/pyramid/portrait/1400/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1400px) {
  .activite {
    background-image: url("images/pyramid/portrait/1600/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1600px) {
  .activite {
    background-image: url("images/pyramid/portrait/1800/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 1800px) {
  .activite {
    background-image: url("images/pyramid/portrait/2000/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2000px) {
  .activite {
    background-image: url("images/pyramid/portrait/2200/activite.jpg");
  }
}
@media (orientation: portrait) and (min-height: 2200px) {
  .activite {
    background-image: url("images/pyramid/portrait/2400/activite.jpg");
  }
}
.activite .pitch {
  text-shadow: 0px 0px 10px #000000;
}
.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}
.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}
.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.ol-overlay-container {
  will-change: left,right,top,bottom;
}
.ol-unsupported {
  display: none;
}
.ol-viewport,
.ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ol-selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.ol-zoom {
  top: 0.5em;
  left: 0.5em;
}
.ol-rotate {
  top: 0.5em;
  right: 0.5em;
  transition: opacity 0.25s linear, visibility 0s linear;
}
.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0s linear 0.25s;
}
.ol-zoom-extent {
  top: 4.643em;
  left: 0.5em;
}
.ol-full-screen {
  right: 0.5em;
  top: 0.5em;
}
@media print {
  .ol-control {
    display: none;
  }
}
.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-zoom-extent button {
  line-height: 1.4em;
}
.ol-compass {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  will-change: transform;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
}
.ol-touch .ol-zoom-extent {
  top: 5.5em;
}
.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}
.ol-attribution {
  text-align: right;
  bottom: 0.5em;
  right: 0.5em;
  max-width: calc(100% - 1.3em);
}
.ol-attribution ul {
  margin: 0;
  padding: 0 0.5em;
  font-size: 0.7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution ul,
.ol-attribution button {
  display: inline-block;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution.ol-logo-only ul {
  display: block;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-logo-only {
  background: transparent;
  bottom: 0.4em;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -0.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}
.ol-zoomslider {
  top: 4.5em;
  left: 0.5em;
  height: 200px;
}
.ol-zoomslider button {
  position: relative;
  height: 10px;
}
.ol-touch .ol-zoomslider {
  top: 5.5em;
}
.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}
.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: inline-block;
}
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7);
}
.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}
body.atlas {
  background: white;
  color: #000;
}
body.atlas a {
  color: #000;
}
#header-atlas {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  background-color: #fff;
}
#header-atlas a {
  color: #000 !important;
}
@media (min-width: 48em) and (orientation: landscape) {
  #header-atlas {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: calc(100vh - 2.5rem);
    left: 1rem;
    width: auto;
    height: auto;
    padding: 0;
  }
}
#map {
  width: 100%;
  height: calc(50vh - 2.5rem);
}
@media (min-width: 48em) and (orientation: landscape) {
  #map {
    position: absolute;
    top: 2.5rem;
    right: 350px;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    z-index: 1;
    width: auto;
    height: auto;
  }
}
#map button {
  min-width: auto;
  width: 20px;
  height: 20px;
}
#legend {
  font-size: 1.2rem;
  padding: 0 1rem;
}
@media (min-width: 48em) and (orientation: landscape) {
  #legend {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    bottom: 1rem;
    left: calc(100vw - 350px);
    padding: 1rem;
    background: white;
    opacity: 0.8;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
#legend h2 {
  color: #009245;
}
#legend .legend-intro {
  font-size: 0.8rem;
  font-weight: bold;
}
#legend .legend-item {
  color: black;
  cursor: pointer;
  padding-left: 1em;
  margin-left: 1em;
  border-left: 3px solid transparent;
}
#legend .legend-item:hover {
  border-left-color: #bbdaed;
}
#legend .legend-item.highlight {
  border-left-color: #0094F5;
}
#legend .legend-item.highlight:hover {
  border-color: transparent;
}
#legend .legend-item.highlight:hover::before {
  content: 'x';
  position: absolute;
  left: 31px;
  font-weight: bold;
  color: #0094F5;
}
#legend .legend-map {
  margin-top: 1rem;
}
#legend .legend-map .legend-map-item {
  display: flex;
}
#legend .legend-map .legend-map-item .picto {
  margin-right: 1rem;
}
#map .popup {
  background-color: #70B62C;
  padding: 5px;
  border-left: 1px solid red;
}
#map .popup > div {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
}
#map .popup > div.specie {
  font-weight: 100;
  font-size: 1rem;
}
#map .popup > div.link {
  text-align: right;
}
#map .popup > div.link a {
  color: inherit;
  font-size: 1rem;
}
.atlas .credits {
  height: 1rem;
  font-size: 10px;
}
@media (min-width: 48em) and (orientation: landscape) {
  .atlas .credits {
    position: absolute;
    top: auto;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.atlas .credits .copyright {
  height: 1rem;
  display: flex;
  align-items: center;
  color: #333030;
  padding-left: 0.3rem;
}
@media (min-width: 48em) and (orientation: landscape) {
  .atlas .credits .copyright {
    padding-left: 0;
  }
}
.atlas .credits .ac-credits {
  height: 1rem;
  display: flex;
  align-items: center;
  color: #333030;
  padding-left: 0.3rem;
}
.atlas .credits .ac-credits a,
.atlas .credits .ac-credits a:visited,
.atlas .credits .ac-credits a:link {
  color: black;
  text-decoration: none;
}
.atlas .credits .ac-credits a:hover,
.atlas .credits .ac-credits a:link {
  color: black;
}
@media (min-width: 48em) and (orientation: landscape) {
  .atlas .credits .ac-credits {
    padding-left: 0;
  }
}
.ol-attribution {
  display: none;
}
.ol-zoom {
  top: auto;
  left: auto;
  bottom: 0.5em;
  right: 0.5em;
}
.ol-zoom-in,
.ol-zoom-out {
  color: transparent !important;
  background-color: transparent !important;
}
.ol-zoom-out {
  margin-top: 0.33333333rem !important;
}
.ol-zoom-in:before,
.ol-zoom-out:before {
  width: 20px;
  height: 20px;
}
.ol-zoom-in:before {
  content: url('svg/zoom-in.svg');
}
.ol-zoom-out:before {
  content: url('svg/zoom-out.svg');
}
body.atlas {
  background: #ffffff;
  color: #000;
}
body.atlas a,
body.atlas a:link,
body.atlas a:visited,
body.atlas a:hover {
  color: #000;
}
body.atlas h1 {
  font-weight: 100;
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  letter-spacing: -2px;
  line-height: 95%;
}
body.atlas h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
body.atlas .caption,
body.atlas .media-caption {
  font-size: 0.8rem;
}
body.atlas .address .item .content,
body.atlas .identity .item .content,
body.atlas .services .item .content {
  font-weight: 600;
}
body.atlas .photomaton {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
#header-atlas {
  font-size: 0.8rem;
  font-weight: bold;
}
#header-atlas a {
  text-decoration: none;
}
#header-atlas > div {
  margin-right: 1rem;
}
@media (min-width: 48em) and (orientation: landscape) {
  #header-atlas > div {
    margin-right: 2rem;
  }
}
#header-atlas .header-atlas-logo img {
  width: 2.5rem;
}
#header-atlas .header-atlas-lang:before,
#header-atlas .header-atlas-about:before {
  content: '\25B8';
  font-family: arial;
  font-size: 1rem;
  width: 1rem;
}
#header-atlas .header-atlas-lang:before {
  color: #8bc53e;
}
#header-atlas .header-atlas-about:before {
  color: #009245;
}
#header-atlas .header-atlas-print {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}
@media (min-width: 48em) and (orientation: landscape) {
  #header-atlas .header-atlas-print {
    margin-right: 0;
  }
}
.main-header,
.main-content {
  display: flex;
}
.nav-widget,
.block-left {
  width: 33.33333333%;
  flex-shrink: 0;
}
.media-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.media-collection > div {
  width: calc(50% - 1rem / 2);
  flex-shrink: 0;
  margin-bottom: 1rem;
}
body.atlas {
  overflow-x: hidden;
}
body.atlas .main {
  padding: 0.3rem;
}
body.atlas .main .heritage div:before {
  content: "•";
  width: 1em;
  padding-right: 1ch;
}
body.atlas .main .planche-bota-wrapper {
  margin-top: 1rem;
}
body.atlas .main .planche-bota-wrapper img {
  width: 100%;
  height: auto;
}
body.atlas .main .portrait {
  background-color: #f9f9f5;
  padding: 0.9rem;
}
body.atlas .main .twinning div li,
body.atlas .main .linked-medias li {
  list-style: none;
  list-style-type: none;
}
body.atlas .main .twinning div li:before,
body.atlas .main .linked-medias li:before {
  content: "•";
  width: 1em;
  padding-right: 1ch;
}
body.atlas .main .twinning div li,
body.atlas .main .linked-medias li {
  margin-bottom: 0.3rem;
}
body.atlas .footer-atlas {
  position: relative;
  clear: both;
  font-size: 0.8rem;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}
body.atlas .footer-atlas img {
  height: 30px;
}
body.atlas .footer-atlas a {
  color: #fff;
  text-decoration: none;
}
body.atlas .footer-atlas .copyright,
body.atlas .footer-atlas .ac-credits {
  position: relative;
  right: auto;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body.atlas .footer-atlas .copyright a,
body.atlas .footer-atlas .ac-credits a {
  padding-left: 0.7em;
  color: white;
  font-size: inherit;
  font-weight: bold;
}
@media (min-width: 48em) and (orientation: landscape) {
  body.atlas #header-atlas {
    position: fixed;
    z-index: 10;
  }
  body.atlas .main {
    margin-top: 2.5rem;
    padding: 1rem;
  }
  body.atlas .main .block-left,
  body.atlas .main .block-middle {
    padding-right: 2rem;
  }
  body.atlas .main .portrait {
    column-count: 2;
    column-gap: 2rem;
    padding: 4rem;
  }
}
body.atlas .block-left .services .item .content {
  display: flex;
}
body.atlas .block-left .services .item .content .k-score {
  width: 3rem;
  display: block;
  text-align: center;
  margin-left: -3rem;
}
body.atlas .block-left .services .item .label {
  padding-left: 3rem;
}
body.atlas .block-left .item {
  margin: 0.45rem 0;
}
body.atlas .block-left .item .label {
  font-weight: 100;
}
body.atlas .block-left .item .content {
  padding-left: 3rem;
}
body.atlas .main-header .nav-widget {
  display: flex;
  justify-content: space-between;
}
body.atlas .main-header .nav-widget .map-link img,
body.atlas .main-header .nav-widget .svg-navigator {
  width: 150px;
}
.atlas .media-collection {
  margin-top: 1rem;
}
.atlas .media-collection .media-video {
  position: relative;
  min-height: 50vw;
  width: 100%;
  align-self: center;
  margin-bottom: 0.3rem;
}
.atlas .media-collection .media-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.atlas .media-collection .media-image-wrapper a {
  text-decoration: none;
}
.atlas .media-collection .media-image-wrapper .media-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 48em) and (orientation: landscape) {
  .atlas .media-collection .media-video {
    min-height: calc((100vw - 100px) / 4 * (3/4));
    min-height: initial;
    padding-bottom: 30%;
    width: calc(50% - 1rem / 2);
    margin-bottom: 1rem;
  }
}
@media print {
  #header-atlas,
  .nav-widget,
  .footer-atlas,
  .media-video {
    display: none !important;
  }
  body {
    font-size: 6pt !important;
  }
  h1 {
    font-size: 36pt !important;
  }
  h2 {
    font-size: 8pt !important;
  }
  .caption,
  .media-caption {
    font-size: 3pt !important;
  }
  .main {
    margin: 0 !important;
    padding: 0 !important;
  }
  .block-left {
    padding-right: 5pt !important;
    font-size: 80%;
  }
  .block-left .item {
    margin: 2pt 0 !important;
  }
  body.atlas .main .media-image-wrapper {
    width: calc(100% / 12 * 3 - 5pt) !important;
    margin-left: 5pt !important;
    margin-bottom: 5pt !important;
  }
  .main .item .content {
    padding-left: 14pt !important;
  }
  .services .item .label {
    padding-left: 14pt !important;
  }
  .services .item .content {
    display: block !important;
  }
  .services .item .content .k-score {
    width: 14pt !important;
    margin-left: -14pt !important;
    float: left;
  }
  .services .item .content .k-label {
    width: calc(100% - 14pt) !important;
  }
  body.atlas .main .block-middle .heritage div:before,
  body.atlas .main .twinning div li:before,
  body.atlas .main .linked-medias li:before {
    padding-right: 14pt !important;
  }
  .portrait {
    display: block !important;
    position: relative !important;
    page-break-before: always !important;
    page-break-inside: avoid !important;
  }
  .portrait p {
    page-break-inside: avoid !important;
  }
  .media-image-wrapper,
  .twinning,
  .linked-medias {
    page-break-inside: avoid !important;
  }
}
