{% load wood %}

<!-- description -->
<section class="description">
    <h2>{% tr_label lang fr="Traits et caractères de l'individu" nl="Kenmerken/Karakter van het individu" %}</h2>
    <div class="item">
        <div class="content">
            <p>{{tree.description|tr:lang|md}}</p>
        </div>
    </div>
</section>