{% load wood %}

<!-- description -->
<div class="description">
    <h2>{% tr_label lang fr="Traits et caractères de l'arbre remarqué" nl="Kenmerken/Karakter van het bekende boom" %}</h2>
    <div class="item">
        <div class="content">
            <p>{{tree.description|tr:lang}}</p>
        </div>
    </div>
</div>