{% extends "wood_core/base.html" %}

{% load static %}
{% load wood %}


{% block title %}{{tree.name|tr:lang}}{% endblock %}

{% block body %}

<div id="header-atlas">
    {% include "wood_core/header.html" %}
</div>

<div class="main">
    <div class="main-header">
        {% include "wood_core/nav.html" %}
        {% include "wood_core/title.html" %}
    </div>
    <div class="main-content">
        <div class="block-left">
            {% include "wood_core/situation.html" %}
            {% include "wood_core/identity.html" %}
            {% include "wood_core/services.html" %}
            {% include "wood_core/bota.html" %}
            {% include "wood_core/twins.html" %}
            {% include "wood_core/linked-medias.html" %}
        </div>
        <div class="block-content">
            {% include "wood_core/photomaton.html" %}
            {% include "wood_core/description.html" %}
            {% include "wood_core/portrait.html" %}
            {% include "wood_core/medias.html" %}
        </div>
    </div>
</div>

<div id="footer-atlas">
    {% include "wood_core/footer.html" %}
</div>
{% endblock %}