{% load static %}
{% load wood %}

<div class="footer-atlas">
    <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web"></a>
    <a href="{% url 'wood-index' lang %}#footer">{% tr_label lang fr="Contact & Newsletter" nl="Contact & Nieuwsbrief" %}</a>
    <a href="https://www.facebook.com/Arbres-bruxellois-283959091674027/" target="_blank"><img src="{% static 'wood_core/svg/fb-white.svg' %}"
            alt="woodwideweb on FB"></a>

    <div class="copyright">
        © 32shoot asbl
    </div>

    <div class="ac-credits">
        dev &amp; design :
        <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
    </div>
</div>