{% load static %}
{% load wood %}


<div class="header-atlas-logo">
    <a href="http://woodwideweb.be"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>

</div>

<div class="header-atlas-lang">
    <a href="{% url 'wood-atlas-tree' lang|anti_lang tree.id %}"> {% tr_label lang fr="Nederlands" nl="Français" %}</a>
</div>

<div class="header-atlas-about">
    <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" %}</a>
</div>

{% comment "will see that later"%}
<!-- Only show pdf link for "remarquable" trees -->
{{#if is_remarquable}}
<div class="header-atlas-print">
    <a href="{{PDF_LINK}}" target="_blank">
        <img src="../../style/svg/pdf.svg" alt="">
    </a>
</div>
{{/if}}
<!-- End of : Only show pdf link for "remarquable" trees -->
{% endcomment %}