{% load wood %}


<!-- identity -->
<div class="identity">
    <h2>{% tr_label lang fr="Carte d'identité" nl="Identiteit" %}</h2>
    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en latin :" nl="Latijn :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.genus }} {{ tree.taxon.species }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en français :" nl="Namm FR :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.fr }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en néerlandais :" nl="Naam NL :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.nl }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en anglais :" nl="Naam EN :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.en }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Famille :" nl="Familie :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.family }}</span>
        </div>
    </div>


    <div class="item">
        <div class="label">{% tr_label lang fr="Hauteur visée :" nl="Beoogde hoogte :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.max_height|tr:lang }}</span>
        </div>
    </div>


    <div class="item">
        <div class="label">{% tr_label lang fr="Circonférence espérée :" nl="Verwachte omtrek :" %}</div>
        <div class="content">
            <span>{{ CIRCONFE_RENCE_ESPE_RE_E }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Longévité espérée :" nl="Verwachte levensduur :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.max_age|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Origine / Indigène :" nl="Oorsprong/Afkomst :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.origin|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Sol préféré :" nl="Voorkeursbodem :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.soil|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Climat préféré :" nl="Voorkeursklimaat :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.climate|tr:lang }}</span>
        </div>
    </div>
</div>
<!-- /identity -->