{% load wood %}

<!-- linked-medias -->
{% if tree.linkedmedia_set.count > 0 %}
<div class="linked-medias">
    <h2>Médias liés</h2>
    {% for linked_media in tree.linkedmedia_set.all %}
    <li><a href="{{linked_media.url}}" target="_blank">{{ linked_media.label|tr:lang }}</a></li>
    {% endfor %}

</div>

{% endif %}