{% load static %} {% load wood %}


<!-- NAVIGATE -->
<div class="nav-widget">
    <div class="map-link">
        <a href="../atlas.html">
            <img src="{% static 'wood_core/images/gif/carte-orthos-communes-03-p-fond-FR-600.gif' %}" alt="">
        </a>
    </div>
</div>