{% load wood %}
<!-- MAIN IMAGE -->
<section class="main-img">
    <style>
    {% for sz in media_sizes %}
        @media (max-width: {{sz}}px) {
            #photmaton_{{tree.id}} {
                background-image: url("{% url 'wood-media' 'tree' tree.id sz %}");
                padding-top: {{ tree.photomaton|ratio:sz }}%;
            }
        }
    {% endfor %}    
    </style>
    <div id="photmaton_{{tree.id}}" class="photomaton"></div>
</section>