{% load wood %}


<div class="services">
    <h2>{% tr_label lang fr="Utilité et services de l'arbre" nl="Diensten geleverd door deze boom" %}</h2>

    <div class="item">
        <div class="label">{% tr_label lang fr="Embellit le paysage :" nl="Verfraait het landschap :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.beauty|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.beauty.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Enrichit la biodiversité :" nl="Verrijkt de biodiversiteit :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.biodiversity|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.biodiversity.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Fournit de l'oxygène :" nl="Levert zuurstof :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.oxygeny|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.oxygeny.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Purifie l'air :" nl="Zuivert de lucht :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.purify|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.purify.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Filtre l'eau :" nl="Filtert het water :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.filtery|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.filtery.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Évite les inondations :" nl="Voorkomt overstromingen :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.filtery|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.filtery.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Stocke le carbone :" nl="Slaat koolstof op :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.carbony|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.carbony.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Adoucit le climat :" nl="Verzacht het klimaat :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.sweety|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.sweety.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Limite l'érosion du sol :" nl="Beperkt de erosie van de bodem :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.soily|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.soily.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Fait du bien, guérit :" nl="Doet goed, is nuttig :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.taxon.healthy|quality_score }}</span>
            <span class="k-label">{{ tree.taxon.healthy.value|tr:lang }}</span>
        </div>
    </div>
</div>