{% load wood %}

<!-- address -->
<div class="address">
    <div class="item">
        <div class="label">{% tr_label lang fr="Adresse :" nl="Adres :" %}</div>
        <div class="content">
            <span>{{ tree.street_address|tr:lang }}</span>
            <span> </span>
            <span>{{ tree.city|tr:lang }}</span>
        </div>
    </div>

    {% if tree.category == 'rmqe' %}
    <div class="item">
        <div class="label">Partenaire :</div>
        <div class="content">
            <span>{% tr_label lang fr="Cet arbre a été ajouté à l’atlas de Wood Wide Web par" nl="Deze boom is toegevoegd aan de Wood Wide Web atlas door"%}</span>
            <span> </span>
            {% for r in tree.remarqueur_set.all %}
            {% if r.url|tr:lang is not '' %}
            <span> <a href="{{ r.url|tr:lang }}">{{ r.label|tr:lang }}</a> </span>
            {% else %}
            <span>{{ r.label|tr:lang }}</span>
            {% endif %}
            
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>