{% load wood %}

<!-- address -->
<div class="address">
    <div class="item">
        <div class="label">{% tr_label lang fr="Adresse :" nl="Adres :" %}</div>
        <div class="content">
            <span>{{ tree.street_address|tr:lang }}</span>
            <span> </span>
            <span>{{ tree.city|tr:lang }}</span>
        </div>
    </div>



    <div class="item">
        <div class="label">{% tr_label lang fr="Coordonnées GPS :" nl="Gps-coörd. :" %}</div>
        <div class="content">
            <span>{{ tree.position.coords.0 }}</span>
            <span>, {{ tree.position.coords.1 }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Inventaire scientifique :" nl="Wetenschappelijke inventarisatie :" %}</div>
        <div class="content">
            <span><a href="http://{% tr_label lang fr="arbres-inventaire" nl="bomen-inventaris" %}.irisnet.be/tree.php?id={{tree.patrimoine}}">{{tree.patrimoine}}</a></span>
        </div>
    </div>

    {% comment "Not implemented" %}
    <div class="item">
        <div class="label">Coordonnées Lambert :</div>
        <div class="content">
            <span>{{ LAMBERT_1 }}</span>
            <span>, {{ LAMBERT_2 }}</span>
        </div>
    </div>
    {% endcomment %}


</div>