{% load wood %}
<!-- twinning -->
{% if tree.jumelage_set.all|length > 0 %}
<div class="twinning">
    <h2>{% tr_label lang fr="Arbres liés - jumelage" nl="Als u van dit soort boom houdt, zult u ook houden van In Brussel" %}</h2>
    <div class="belgique">
        <p>Belgique</p>
        {% for jum in tree|jumelage:'belgique' %}
        <li><a href="{{jum.url}}" target="_blank">{{jum.label|tr:lang}}</a></li>
        {% endfor %}
    </div>
    <div class="europe">
        <p>Union Européenne</p> 
        {% for jum in tree|jumelage:'europe' %}
        <li><a href="{{jum.url}}" target="_blank">{{jum.label|tr:lang}}</a></li>
        {% endfor %}
    </div>
    <div class="monde">
        <p>Monde</p>
        {% for jum in tree|jumelage:'monde' %}
        <li><a href="{{jum.url}}" target="_blank">{{jum.label|tr:lang}}</a></li>
        {% endfor %}
    </div>

</div>
{% endif %}


