{% load static %}
{% load wood %}

<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="{% static 'wood_core/svg/wowiwe-fb.jpg' %}" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <title>Wood Wide Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
</head>

<body id="about">
    <div id="header-atlas">
        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be">
                <img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt="">
            </a>

        </div>

        <div class="header-atlas-lang">
            <a href="../nl/about.html">Nederlands</a>
        </div>
    </div>


    <div class="main">
        <!-- bloc 1 : dynamique etc -->
        <article class="before-after">
            <div class="pitch long green">
                Dynamique et interactive cette expérience crossmedia raconte des histoires d’arbres urbains et propose
                différents niveaux
                de participation. Elle invite les écoles, familles, simples promeneurs, touristes à se joindre à
                l’aventure
                d’une forêt qui pousse en ville.
            </div>
            <div class="ba-wrapper">
                <div class="circle circle-1">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-1.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>Découvrir</span>
                        <span>S’émerveiller</span>
                    </div>
                    <div class="sub-pitch">
                        Wood Wide Web vous propose d’ouvrir vos yeux : regarder Bruxelles comme si c’était une forêt.
                        Vous pouvez l’explorer grâce
                        à sa carte et de multiples contenus. Ils vous permettent de (re)découvrir les arbres en ville,
                        leurs
                        histoires, leurs caractéristiques. Le but est de vous enchanter : révéler leur beauté, leur
                        rôle,
                        leur caractère, visibles ou invisibles.
                    </div>
                    <div class="pitch black">
                        <span>2017</span>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="circle circle-2">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-2.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>Rencontrer</span>
                        <span>Relier</span>
                    </div>
                    <div class="sub-pitch">
                        Wood Wide Web tisse des liens entre les arbres et toute une série d’acteurs culturels, sociaux,
                        scientifiques, institutionnels.
                        Cette communauté fait pousser la forêt urbaine et propose toute une série d’activités à leurs
                        pieds.
                        Vous pourrez participer à ces activités de terrain.
                    </div>
                    <div class="pitch orange">
                        <span>2018</span>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="circle circle-3">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-3.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Contribuer</span>
                        <span>Faire pousser</span>
                    </div>
                    <div class="sub-pitch">
                        Nous vous proposons de vous joindre à l’aventure. Ajouter à votre tour votre arbre préféré et
                        vos médias arborés pour le
                        faire découvrir aux autres. Nous espérons que vous aurez envie de faire pousser la forêt
                        urbaine
                        avec nous : adopter un arbre (au moins), en prendre soin, ou même en planter de nouveaux.
                    </div>
                    <div class="pitch green">
                        <span>2018 - 2019</span>
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 2 : how to img -->
        <article class="how-to-img">
            <div class="pitch white">
                Regarder Bruxelles <br>
                comme une forêt
            </div>
        </article>

        <!-- bloc 3 : how to txt-->
        <article class="how-to">
            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>Utiliser</span>
                        <span>l'atlas</span>
                    </div>
                    <div class="sub-pitch black">
                        <a href="{% static 'wood_core/files/Page_APropos1a1_Atlas.pdf' %}">Lire la documentation</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>Fiches</span>
                        <span>et portraits</span>
                    </div>
                    <div class="sub-pitch black">
                        Chacun des 120 points de la carte mène à une fiche ou un grand portrait qui dévoilent
                        l'identité d'un arbre, son rôle, et son caractère. <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos1a2_FichePortrait.pdf' %}">Lire la
                            documentation</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Services</span>
                        <span>de l'arbre</span>
                    </div>
                    <div class="sub-pitch black">
                        Pourquoi les arbres sont-ils essentiels en ville ? <br>
                        En quoi sont-ils intéressants pour nous et pour le milieu urbain ?<br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos1a3_ArbreUtile.pdf' %}">Lire la documentation</a>
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 4 : grow with us img -->
        <article class="grow-img">
            <div class="pitch white">
                Faire pousser la forêt <br>
                avec nous
            </div>
        </article>

        <!-- bloc 5 : grow with us txt-->
        <article class="grow">
            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>Ajouter un arbre</span>
                        <span>à l'atlas</span>
                    </div>
                    <div class="sub-pitch black">
                        Cet outil est le cœur du projet. Il vous permet de : repérer les arbres, accéder à leurs
                        contenus médias et en proposer de nouveaux. Le but : transformer petit à petit cette carte en
                        jungle… <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a1_AjouterArbre.pdf' %}">Lire la documentation</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>Reconnaître son espèce, et le géolocaliser</span>
                    </div>
                    <div class="sub-pitch black">
                        Nous avons rassemblé quelques conseils pour vous aider à géolocaliser votre arbre, et des
                        outils pour deviner à quelle espèce il appartient. <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a2_Espece.pdf' %}">Lire la documentation
                            "espèce"</a> <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a2_GPS.pdf' %}">Lire la documentation
                            "Géolocalisation"</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Planter</span>
                    </div>
                    <div class="sub-pitch black">
                        à l'automne 2019 ...
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 6 : actors img -->
        <article class="actors-img">
            <div class="pitch white">
                La communauté : <br>
                les acteurs de la forêt
            </div>

            <div class="sub-pitch white">
                Notre projet n’a de sens que s’il est collectif. <br>
                Petit à petit toute une série d’associations, <br>
                écoles, institutions, collectifs, artistes, <br>
                médias, etc. <br>
                se joignent à l’aventure de Wood Wide Web.
            </div>
        </article>

        <!-- bloc 7 : actors -->
        <article class="actors">
            <div class="pitch black">
                Partenaires :
            </div>
            <div class="sub-pitch black">
                Ils mettent l’arbre et la forêt au cœur de leur programmation ou leur action. Ensemble nous proposons
                des activités des activités de terrain : pour aller à la rencontrer des arbres et des personnes.
            </div>
            <div class="actors-list pitch black">
                <span> <a href="atlas/{{177|imported}}.html">CIVA</a></span>,
                <span> <a href="atlas/{{176|imported}}.html">Cinematek</a></span>,
                <span> <a href="atlas/{{178|imported}}.html">La Vénerie</a></span>,
                <span> <a href="atlas/{{180|imported}}.html">Le Jardin Botanique de Meise</a></span>,
                <span> <a href="atlas/{{182|imported}}.html">La Fonderie</a></span>,
                <span> <a href="atlas/{{181|imported}}.html">Bruxelles nous appartient</a></span>,
                <span> <a href="atlas/{{185|imported}}.html">La Monnaie</a></span>,
                <span> <a href="atlas/{{186|imported}}.html">Dialogues en Humanités</a></span>,
                <span> <a href="atlas/{{189|imported}}.html">Luc Vandermaelen</a></span>,
                <span> Le Centre de Littérature Jeunesse</span>,
                <span> Editions</span>,
                </span> La Ligue Braille</span>
            </div>
        </article>


        <!-- bloc final  -->
        <article class="footer">
            <div class="imago-wrapper">
                <div class="imago-www">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-4.svg' %}" alt="">
                </div>
                <div class="imago-text">
                    <div class="pitch white">
                        Ce projet s’inspire
                        <br> du système de
                        <br> communication qui
                        <br> relie les arbres
                        <br> en forêt :
                        <br> le Wood Wide Web.
                    </div>
                    <div class="arrow-down">
                        <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
                    </div>
                    <div class="sub-pitch fb">
                        <span>
                            <a href="https://www.facebook.com/groups/168183870459622/" target="_blank">
                                <img src="{% static 'wood_core/svg/fb-white.svg' %}" alt="">
                            </a>
                        </span>
                        <span>Suivez l’expérience!</span>
                    </div>
                    <div class="sub-pitch">
                        Contact :
                        <a href="mailto:contact@woodwideweb.be">Priscille Cazin</a> pour 32shoot asbl
                        <br>
                    </div>

                    <div class="pitch white">
                        Inscription à la newsletter
                    </div>
                    <div class="sub-pitch">
                        <div id="mc_embed_signup">
                            <form action="//woodwideweb.us16.list-manage.com/subscribe/post?u=5ddd2f07e24f445f8beb68f04&amp;id=3a11865772"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                                target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address
                                            <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-FNAME">Prénom / Voornaam / First name </label>
                                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-LNAME">Last Name </label>
                                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_5ddd2f07e24f445f8beb68f04_3a11865772" tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                            class="button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function ($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = 'EMAIL';
                                ftypes[0] = 'email';
                                fnames[1] = 'FNAME';
                                ftypes[1] = 'text';
                                fnames[2] = 'LNAME';
                                ftypes[2] = 'text';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>

            <div class="prod">
                <div class="pitch">
                    Produit par :
                </div>
                <div class="sub-pitch">
                    Threetwoshoot asbl
                </div>
                <img src="{% static 'wood_core/images/logos/white/200px/32shout.png' %}" alt="32shout">
            </div>

            <div class="collaboration">
                <div class="pitch">
                    En collaboration avec :
                </div>
                <div class="sub-pitch">
                    Le Département du Patrimoine naturel de la Direction des Monuments et Sites
                </div>
                <img src="{% static 'wood_core/images/logos/white/200px/BUP-FR-Blanc.png' %}" alt="Département du Patrimoine naturel de la Direction des Monuments et Sites">
            </div>

            <div class="participation">
                <div class="pitch">
                    Avec le soutien de:
                </div>

                <div class="partners">
                    <div class="main-partners">
                        <img src="{% static 'wood_core/images/logos/white/200px/region.png' %}" alt="region bruxelles capitale">
                        <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
                        <img src="{% static 'wood_core/images/logos/white/200px/zerolutions.png' %}" alt="zerolutions">
                    </div>
                </div>
            </div>

            <div class="participation">
                <div class="pitch">
                    Avec la participation de:
                </div>

                <div class="partners">
                    <div class="main-partners">
                        <img src="{% static 'wood_core/images/logos/white/200px/gearup.png' %}" alt="gearup">
                        <img src="{% static 'wood_core/images/logos/white/200px/videolab.png' %}" alt="videolab">
                        <img src="{% static 'wood_core/images/logos/white/200px/F-LAT.png' %}" alt="F-LAT">
                        <img src="{% static 'wood_core/images/logos/white/200px/geo2play.png' %}" alt="geo2play">
                        <img src="{% static 'wood_core/images/logos/white/200px/mondoTV.png' %}" alt="mondoTV">
                        <img src="{% static 'wood_core/images/logos/white/200px/flh.png' %}" alt="FLH">
                        <img src="{% static 'wood_core/images/logos/white/200px/chroma.png' %}" alt="chroma">
                        <img src="{% static 'wood_core/images/logos/white/200px/animal.jpg' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/scam.png' %}" alt="SCAM">
                        <img src="{% static 'wood_core/images/logos/white/200px/LBE.jpg' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/r-havik.png' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/WeTellStories.png' %}" alt="we tell stories">
                        <img src="{% static 'wood_core/images/logos/white/200px/triangle.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="copyright">
                © 32shoot asbl
            </div>

            <div class="ac-credits">
                dev &amp; design :
                <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
            </div>
        </article>
    </div>
</body>

</html>