{% load static %} {% load wood %}

<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="{% static 'wood_core/svg/wowiwe-fb.jpg' %}" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel"
    />

    <title>Wood Wide Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
</head>

<body>
    <article class="home">
        <div class="site-title">
            <img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web">
        </div>
        <div class="pitch green">
            Une forêt urbaine,
            <br> réelle et virtuelle,
            <br> pousse à Bruxelles
        </div>
        <div class="sub-pitch white">
            <span>Suivez l’expérience </span>
            <span class="lang-switch">
                <a href="about.html">À propos du projet</a>
                <a href="../nl">Nederlands</a>
            </span>
        </div>
        <div class="arrow-down">
            <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
        </div>
    </article>

    <article class="map">
        <div class="map-gif">
            <a href="atlas.html">
                <img src="{% static 'wood_core/images/gif/carte-orthos-communes-03-p-fond-FR-800.gif' %}" alt="">
            </a>
        </div>

        <div class="map-text-wrapper">
            <div class="pitch orange">
                Une carte
                <br> dynamique
                <br> et participative
                <br> s'étoffe avec le
                <br> temps
            </div>
            <div class="sub-pitch black">
                Repérer les arbres de différentes
                <br> espèces, les mettre en
                <br> réseau, se connecter à des médias
                <br> arborés ou à des activités
                <br> de terrain, faire une promenade
                <br> forestière en ville.
            </div>
            <div class="pitch black">
                <a href="atlas.html">Visitez l'atlas</a>
            </div>
            <div class="pitch orange">
                <div>Actuellement</div>
                <div class="counter">
                    <div class="digit-wrapper">
                        <div class="digit">0</div>
                        <div class="digit">1</div>
                        <div class="digit">2</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digit">6</div>
                        <div class="digit">5</div>
                        <div class="digit">4</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digit">3</div>
                        <div class="digit">2</div>
                        <div class="digit">1</div>
                    </div>
                </div>
                <div>arbres référencés !</div>
            </div>
            <div class="pitch black">
                <a href="http://woodwideweb.be:8080/form/votre_arbre" target="_blank">Ajouter votre arbre</a>
            </div>
        </div>
    </article>

    <article class="media-pitch">
        <div class="media-infos-wrapper">
            <div class="pitch white">
                Les médias
                <br> foisonnent
                <br>
            </div>
            <div class="sub-pitch white">
                Des photos, capsules audio,
                <br> illustrations, parfois des vidéos,
                <br> éclairent ces grands végétaux
                <br> d’un point de vue original,
                <br> sensible ou scientifique.
            </div>
            <div class="pitch white">
                Le portrait du mois :
                <a href="{% url 'wood-atlas-tree' lang monthly.tree.id %}">{{ monthly.tree.name|tr:lang }}</a>
            </div>
        </div>
    </article>

    <!-- <article class="media-vr">
            <script src="https://360player.io/static/dist/scripts/embed.js" async></script>
            <iframe src="https://360player.io/p/eiBKcU/" frameborder="0" class="vr360" allowfullscreen data-token="eiBKcU"></iframe>
        </article> -->

    <!-- <article class="media-label">
                <div class="pitch white">
                    Images 360°
                </div>
        </article> -->

    <article class="media-video">
        <iframe src="https://player.vimeo.com/video/234015358?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen class="video-v"></iframe>
        <!-- <iframe src="https://www.youtube.com/embed/x-dAUKL4ACk?rel=0" frameborder="0" allowfullscreen class="video"></iframe> -->
        <div class="video-text">
            <div class="pitch">
                Dévoiler les secrets
                <br> des arbres
                <br>
                <br> Les montrer
                <br> sous un angle inédit
            </div>
            <div class="sub-pitch">
                Séquoia Géant
                <br> Parc de Woluwe, Woluwe-St-Pierre
                <br>
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaire
                    des arbres remarquables</a>
            </div>
        </div>

    </article>


    <!-- mobile specific block -->
    <article class="mob-portrait">
        <div class="video-text">
            <div class="pitch">
                Dévoiler les secrets
                <br> des arbres.
                <br> Les montrer
                <br> sous un angle inédit
            </div>
            <div class="sub-pitch">
                Séquoia Géant
                <br> Parc de Woluwe, Woluwe-St-Lambert
                <br>
                <a href="http://arbres-inventaire.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaire
                    des arbres remarquables</a>
            </div>
        </div>
    </article>


    <article class="media-audio">
        <div class="pitch">
            Raconter
            <br> au creux de l’oreille
        </div>
        <div class="sub-pitch">
            <audio controls>
                <source src="{% static 'wood_core/audio/ARBUNOCT01.ogg' %}" type="audio/ogg">
                <source src="{% static 'wood_core/audio/ARBUNOCT01.mp3' %}" type="audio/mpeg"> Sorry, your browser does not
                support the audio element.
            </audio>
        </div>
    </article>

    <article class="media-avap">
        <div class="pitch">
            Voyager
            <br> dans le temps
        </div>
        <div class="sub-pitch">
            Tilleul Argenté
            <br> Boulevard des Invalides, Auderghem
            <br> 1930-2015
            <br>
            <a href="http://bruciel.brussels/" target="_blank">bruciel.brussels</a>
        </div>
    </article>

    <!-- mobile specific block -->
    <article class="mob-portrait">
        <div class="pitch">
            Voyager
            <br> dans le temps
        </div>
        <div class="sub-pitch">
            Tilleul Argenté
            <br> Boulevard des Invalides, Auderghem
            <br> 1930-2015
            <br>
            <a href="http://bruciel.brussels/" target="_blank">bruciel.brussels</a>
        </div>
    </article>

    <article class="observe">
        <div class="pitch">
            Développer
            <br> le sens de l’observation
        </div>
        <div class="pitch">
            Aiguiser
            <br> le regard
        </div>

        <div class="sub-pitch">
            Hêtre pourpre
            <br> Rue du Cens, Ganshoren
        </div>
    </article>

    <article class="activite">
        <div class="pitch">
            Découvrir et participer
            <br> à des activités de terrain
        </div>

        <div class="sub-pitch">
            2018 - 2019
            <br>
            <a href="{% static 'wood_core/files/Article_Agenda.pdf' %}" target="_blank">Agenda</a>
            <br>
            <a href="{% static 'wood_core/files/Article_Activites_QuoideNeuf.pdf' %}" target="_blank">Quoi de neuf</a>
        </div>
    </article>

    <article class="portrait">
        <div class="portrait-wrapper">
            <div class="portrait-textwrapper">
                <div class="pitch green">
                    Des portraits
                    <br> multimédia racontent
                    <br> l’histoire d’arbres
                    <br> monumentaux
                </div>
                <div class="sub-pitch black">
                    Une série de fiches
                    <a href="{% static 'wood_core/files/Article_Fiches_et_Portraits_FR.pdf' %}" target="_blank">pédagogiques</a>
                    <br> caractérisent certains arbres
                    <br> remarquables
                </div>
            </div>
            <div class="illu-fiches-fr"></div>
        </div>
    </article>


    <article id="footer" class="footer">
        <div class="imago-wrapper">
            <div class="imago-www">
                <img src="{% static 'wood_core/svg/wowiwe-imago-4.svg' %}" alt="">
            </div>
            <div class="imago-text">
                <div class="pitch white">
                    Ce projet s’inspire
                    <br> du système de
                    <br> communication qui
                    <br> relie les arbres
                    <br> en forêt :
                    <br> le Wood Wide Web.
                </div>

                <div class="arrow-down">
                    <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
                </div>
                <div class="sub-pitch fb">
                    <span>
                        <a href="https://www.facebook.com/groups/168183870459622/" target="_blank">
                            <img src="{% static 'wood_core/svg/fb-white.svg' %}" alt="">
                        </a>
                    </span>
                    <span>Suivez l’expérience!</span>
                </div>
                <div class="sub-pitch">
                    Contact :
                    <a href="mailto:contact@woodwideweb.be">Priscille Cazin</a> pour 32shoot asbl
                    <br>
                </div>

                <div class="pitch white">
                    Inscription à la newsletter
                </div>
                <div class="sub-pitch">
                    <div id="mc_embed_signup">
                        <form action="//woodwideweb.us16.list-manage.com/subscribe/post?u=5ddd2f07e24f445f8beb68f04&amp;id=3a11865772" method="post"
                            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                            novalidate>
                            <div id="mc_embed_signup_scroll">

                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address
                                        <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">Prénom / Voornaam / First name </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_5ddd2f07e24f445f8beb68f04_3a11865772" tabindex="-1" value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>
                        (function ($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            fnames[1] = 'FNAME';
                            ftypes[1] = 'text';
                            fnames[2] = 'LNAME';
                            ftypes[2] = 'text';
                        }(jQuery));
                        var $mcj = jQuery.noConflict(true);
                    </script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>

        <div class="prod">
            <div class="pitch">
                Produit par :
            </div>
            <div class="sub-pitch">
                Threetwoshoot asbl
            </div>
            <img src="{% static 'wood_core/images/logos/white/200px/32shout.png' %}" alt="32shout">
        </div>

        <div class="collaboration">
            <div class="pitch">
                En collaboration avec :
            </div>
            <div class="sub-pitch">
                Le Département du Patrimoine naturel de la Direction des Monuments et Sites
            </div>
            <img src="{% static 'wood_core/images/logos/white/200px/BUP-FR-Blanc.png' %}" alt="Département du Patrimoine naturel de la Direction des Monuments et Sites">
        </div>

        <div class="participation">
            <div class="pitch">
                Avec le soutien de:
            </div>

            <div class="partners">
                <div class="main-partners">
                    <img src="{% static 'wood_core/images/logos/white/200px/region.png' %}" alt="region bruxelles capitale">
                    <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
                    <img src="{% static 'wood_core/images/logos/white/200px/zerolutions.png' %}" alt="zerolutions">
                </div>
            </div>
        </div>

        <div class="participation">
            <div class="pitch">
                Avec la participation de:
            </div>

            <div class="partners">
                <div class="main-partners">
                    <img src="{% static 'wood_core/images/logos/white/200px/gearup.png' %}" alt="gearup">
                    <img src="{% static 'wood_core/images/logos/white/200px/videolab.png' %}" alt="videolab">
                    <img src="{% static 'wood_core/images/logos/white/200px/F-LAT.png' %}" alt="F-LAT">
                    <img src="{% static 'wood_core/images/logos/white/200px/geo2play.pn' %}g" alt="geo2play">
                    <img src="{% static 'wood_core/images/logos/white/200px/mondoTV.png' %}" alt="mondoTV">
                    <img src="{% static 'wood_core/images/logos/white/200px/flh.png' %}" alt="FLH">
                    <img src="{% static 'wood_core/images/logos/white/200px/chroma.png' %}" alt="chroma">
                    <img src="{% static 'wood_core/images/logos/white/200px/animal.jpg' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/scam.png' %}" alt="SCAM">
                    <img src="{% static 'wood_core/images/logos/white/200px/LBE.jpg' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/r-havik.png' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/WeTellStories.png' %}" alt="we tell stories">
                    <img src="{% static 'wood_core/images/logos/white/200px/triangle.png' %}" alt="">
                </div>
            </div>
        </div>

        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>
    </article>
</body>

</html>