{% load static %}
{% load wood %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een echt en virtueel stadsbos groeit in Brussel">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="http://woodwideweb.be/style/svg/wowiwe-fb.jpg" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <script>
        window.woodLang = 'fr';
    </script>
    <script src="{% static 'bundle.js' %}"></script>

    <title>WoodWideWeb - Atlas</title>

</head>

<body class="atlas">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>

        <div class="header-atlas-lang">
            <a href="../nl/atlas.html">Nederlands</a>
        </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" %}</a>
        </div>
    </div>

    <div id="map" class="abs">

    </div>

    <div id="legend" class="abs">
        <div class="legend-intro">
            <div class="sub-pitch">
                <p>Une forêt urbaine, réelle et virtuelle, pousse à Bruxelles. Repérer les arbres de différentes
                    espèces, les mettre en réseau, se connecter à des médias arborés ou à des activités de terrain,
                    faire une promenade forestière en ville. Commencez ci-contre ou ci-dessous. Bienvenue!
                </p>
            </div>
            <p>
                <a href="{% static 'wood_core/files/Article_MiniTuto_Atlas_FR.pdf' %}" target="_blank">
                    <img src="{% static 'wood_core/style/svg/info.svg' %}" alt="" style="width:20px; height:20px; padding:3px;">
                    Atlas: comment ça marche</a></p>
            <p>
                <a href="{% static 'wood_core/files/Article_Tuto_Ajouter_Arbre.pdf' %}" target="_blank">
                    <img src="{% static 'wood_core/style/svg/info.svg' %}" alt="" style="width:20px; height:20px; padding:3px;">
                    Ajouter un arbre : comment faire</a></p>

        </div>


        <div class="legend-map">
            <h2>Légende :</h2>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-red.svg' %}" alt="">
                </span>
                <span class="label">Arbres remarquables</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-portrait.svg' %}" alt="">
                </span>
                <span class="label">Arbres remarquables avec portrait</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-orange.svg' %}" alt="">
                </span>
                <span class="label">Arbres remarqués</span>
            </div>

            <h2>À venir :</h2>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-blue.svg' %}" alt="">
                </span>
                <span class="label">Arbres adoptés (2ème semestre 2018)</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-pink.svg' %}" alt="">
                </span>
                <span class="label">Arbres soignés ou plantés (2019)</span>
            </div>
        </div>


        <div id="specie-filter">
            <h2>Filtrer par essence d'arbre :</h2>
        </div>

    </div>

    <div class="credits">
        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>

        <div class="copyright">
            orthophoto ©UrbIS 2017
        </div>
    </div>
</body>

</html>