{% load static %}
{% load wood %}

<!doctype html>
<html class="no-js" lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een echt en virtueel stadsbos groeit in Brussel">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="{% static 'wood_core/svg/wowiwe-fb.jpg' %}" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <title>Wood Wide Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
</head>

<body id="about">
    <div id="header-atlas">
        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be">
                <img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt="">
            </a>

        </div>

        <div class="header-atlas-lang">
            <a href="../fr/about.html">Français</a>
        </div>
    </div>


    <div class="main">
        <!-- bloc 1 : dynamique etc -->
        <article class="before-after">
            <div class="pitch long green">
                Deze dynamische en interactieve crossmedia-ervaring vertelt verhalen van stadsbomen en stelt
                verschillende manieren voor
                om zelf actief mee te doen. Ze nodigt scholen, gezinnen, wandelaars en toeristen uit om deel uit te
                maken
                van het avontuur van een bos dat in de stad groeit.
            </div>
            <div class="ba-wrapper">
                <div class="circle circle-1">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-1.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>Ontdekken</span>
                        <span>Zich verwonderen</span>
                    </div>
                    <div class="sub-pitch">
                        Wood Wide Web wil u de ogen openen: bekijk Brussel alsof het een bos is. U kunt dat bos
                        verkennen met de kaart en de verschillende
                        inhouden. Op die manier (her)ontdekt u de bomen in de stad, hun verhalen en hun specifieke
                        kenmerken.
                        Het doel is om u te verwonderen door hun zichtbare en onzichtbare schoonheid, rol en karakter
                        te
                        onthullen.
                    </div>
                    <div class="pitch black">
                        <span>2017</span>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="circle circle-2">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-2.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>Ontmoeten</span>
                        <span>Linken leggen</span>
                    </div>
                    <div class="sub-pitch">
                        Wood Wide Web schept banden tussen de bomen en een hele reeks culturele, sociale,
                        wetenschappelijke en institutionele spelers.
                        Die gemeenschap doet het stadsbos groeien en stelt een hele reeks activiteiten aan de voet van
                        de
                        bomen voor. U kunt deelnemen aan die activiteiten op het terrein.
                    </div>
                    <div class="pitch orange">
                        <span>2018</span>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="circle circle-3">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-3.svg' %}" alt="">
                </div>
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Deelnemen</span>
                        <span>Doorgeven</span>
                    </div>
                    <div class="sub-pitch">
                        Wij stellen u voor om mee op avontuur te gaan. Voeg op uw beurt uw favoriete boom en uw
                        boomrijke media toe zodat anderen
                        ze kunnen ontdekken. Wij hopen dat u zin hebt om het stadsbos met ons te doen groeien door
                        (minstens)
                        een boom te adopteren, ervoor te zorgen, of zelfs nieuwe bomen te planten.
                    </div>
                    <div class="pitch green">
                        <span>2018 - 2019</span>
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 2 : how to img -->
        <article class="how-to-img">
            <div class="pitch white">
                Brussel bekijken <br>
                als een bos
            </div>
        </article>

        <!-- bloc 3 : how to txt-->
        <article class="how-to">
            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>De atlas</span>
                        <span>gebruiken</span>
                    </div>
                    <div class="sub-pitch black">
                        <a href="{% static 'wood_core/files/Page_APropos1a1_Atlas_NL.pdf' %}">Lees de documentatie</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>Fiches</span>
                        <span>en portretten</span>
                    </div>
                    <div class="sub-pitch black">
                        Elk van de 120stippen op de kaart leidt naar een fiche of een uitgebreid portret over de
                        identiteit van de boom, zijn rol en zijn karakter <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos1a2_FichePortrait_NL.pdf' %}">Lees de
                            documentatie</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Nut</span>
                        <span>van de boom</span>
                    </div>
                    <div class="sub-pitch black">
                        Waarom zijn bomen onmisbaar in de stad? Welk belang hebben ze voor ons en voor de
                        stadsomgeving?<br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos1a3_ArbreUtile_NL.pdf' %}">Lees de documentatie</a>
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 4 : grow with us img -->
        <article class="grow-img">
            <div class="pitch white">
                Het bos samen <br>
                met ons doen groeien
            </div>
        </article>

        <!-- bloc 5 : grow with us txt-->
        <article class="grow">
            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch black">
                        <span>Een boom toevoegen</span> <br>
                        <span>aan de atlas</span>
                    </div>
                    <div class="sub-pitch black">
                        Deze tool vormt de kern van het project. U kunt er bomen mee opzoeken, krijgt toegang tot media
                        over de en kunt er gegevens aan toevoegen. Het doel: van deze kaart beetje bij beetje een
                        jungle maken … <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a1_AjouterArbre_NL.pdf' %}">Lees de
                            documentatie</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch orange">
                        <span>De bomsoort herkennen</span> <br>
                        <span>en de boom geolokaliseren</span>
                    </div>
                    <div class="sub-pitch black">
                        We hebben een paar tips verzameld om u te helpen bij de geolokalisatie van uw boom en een
                        aantal tools om te achterhalen om welke soort het gaat <br>
                        <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a2_Espece_NL.pdf' %}">Lees de documentatie
                            "bomsoort"</a> <br>
                        <a href="{% static 'wood_core/files/Page_APropos2a2_GPS_NL.pdf' %}">Lees de documentatie
                            "geolokaliseren"</a>
                    </div>
                </div>
            </div>

            <div class="ba-wrapper">
                <div class="ba-txt-wrapper">
                    <div class="pitch green">
                        <span>Planten</span>
                    </div>
                    <div class="sub-pitch black">
                        najaar 2019 ...
                    </div>
                </div>
            </div>
        </article>

        <!-- bloc 6 : actors img -->
        <article class="actors-img">
            <div class="pitch white">
                De gemeenschap: <br>
                de actoren van het bos
            </div>

            <div class="sub-pitch white">
                Ons project heeft slecht zin als het collectief is. <br>
                Beetje bij beetje stapt een hele reeks verenigingen, <br>
                scholen, instellingen, collectieven, <br>
                kunstenaars, media, enz.
                <br>mee aan het Wood Wide Web avontuur.
            </div>
        </article>

        <!-- bloc 7 : actors -->
        <article class="actors">
            <div class="pitch black">
                Vennoten :
            </div>
            <div class="sub-pitch black">
                Zij stellen de boom en het bos centraal in hun programmering of hun actie. Samen stellen we
                activiteiten van veldactiviteiten voor: haar bomen en mensen ontmoeten.
            </div>
            <div class="actors-list pitch black">
                <span><a href="atlas/{{177|imported}}.html">CIVA</a>, </span>
                <span><a href="atlas/{{176|imported}}.html">Cinematek</a>, </span>
                <span><a href="atlas/{{178|imported}}.html">La Vénerie</a>, </span>
                <span><a href="atlas/{{180|imported}}.html">Le Jardin Botanique de Meise</a>, </span>
                <span><a href="atlas/{{182|imported}}.html">La Fonderie</a>, </span>
                <span><a href="atlas/{{181|imported}}.html">Bruxelles nous appartient</a>, </span>
                <span><a href="atlas/{{185|imported}}.html">La Monnaie</a>, </span>
                <span><a href="atlas/{{186|imported}}.html">Dialogues en Humanités</a>, </span>
                <span><a href="atlas/{{189|imported}}.html">Luc Vandermaelen</a>, </span>
                <span>Le Centre de Littérature Jeunesse, </span>
                <span>CFC Editions, </span>
                <span>La Ligue Braille</span>
            </div>
        </article>


        <!-- bloc final  -->
        <article class="footer">
            <div class="imago-wrapper">
                <div class="imago-www">
                    <img src="{% static 'wood_core/svg/wowiwe-imago-4.svg' %}" alt="">
                </div>
                <div class="imago-text">
                    <div class="pitch white">
                        Dit project is geïnspireerd
                        <br> op het communicatiesysteem
                        <br> rond de wortels waarmee
                        <br> de bomen van het bos
                        <br> onderling verbonden zijn:
                        <br> het ‘Wood Wide Web’.
                    </div>
                    <div class="arrow-down">
                        <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
                    </div>
                    <div class="sub-pitch fb">
                        <span>
                            <a href="https://www.facebook.com/groups/168183870459622/" target="_blank">
                                <img src="{% static 'wood_core/svg/fb-white.svg' %}" alt="">
                            </a>
                        </span>
                        <span>Ga voor de ervaring!</span>
                    </div>
                    <div class="sub-pitch">
                        Contact : <a href="mailto:contact@woodwideweb.be">Priscille Cazin</a> voor 32shoot asbl<br>
                        <br>
                    </div>

                    <div class="pitch white">
                        Newsletter
                    </div>
                    <div class="sub-pitch">
                        <div id="mc_embed_signup">
                            <form action="//woodwideweb.us16.list-manage.com/subscribe/post?u=5ddd2f07e24f445f8beb68f04&amp;id=3a11865772"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                                target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address
                                            <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-FNAME">Prénom / Voornaam / First name </label>
                                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-LNAME">Last Name </label>
                                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_5ddd2f07e24f445f8beb68f04_3a11865772" tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                            class="button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function ($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = 'EMAIL';
                                ftypes[0] = 'email';
                                fnames[1] = 'FNAME';
                                ftypes[1] = 'text';
                                fnames[2] = 'LNAME';
                                ftypes[2] = 'text';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>

            <div class="prod">
                <div class="pitch">
                    Productie :
                </div>
                <div class="sub-pitch">
                    Threetwoshoot asbl
                </div>
                <img src="{% static 'wood_core/images/logos/white/200px/32shout.png' %}" alt="32shout">
            </div>

            <div class="prod">
                <div class="pitch">
                    In samenwerking met :
                </div>
                <div class="sub-pitch">
                    Afdeling Natuurlijk Erfgoed van de Directie Monumenten en Landschappen
                </div>
                <img src="{% static 'wood_core/images/logos/white/200px/BSE-NL-Blanc.png' %}" alt="Afdeling Natuurlijk Erfgoed van de Directie Monumenten en Landschappen">
            </div>

            <div class="participation">
                <div class="pitch">
                    Met de steun van :
                </div>
                <div class="partners">
                    <div class="main-partners">
                        <img src="{% static 'wood_core/images/logos/white/200px/region.png' %}" alt="region bruxelles capitale">
                        <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
                        <img src="{% static 'wood_core/images/logos/white/200px/zerolutions.png' %}" alt="zerolutions">
                    </div>
                </div>
            </div>

            <div class="participation">
                <div class="pitch">
                    Met deelname van :
                </div>
                <div class="partners">
                    <div class="main-partners">
                        <img src="{% static 'wood_core/images/logos/white/200px/gearup.png' %}" alt="gearup">
                        <img src="{% static 'wood_core/images/logos/white/200px/videolab.png' %}" alt="videolab">
                        <img src="{% static 'wood_core/images/logos/white/200px/F-LAT.png' %}" alt="F-LAT">
                        <img src="{% static 'wood_core/images/logos/white/200px/geo2play.png' %}" alt="geo2play">
                        <img src="{% static 'wood_core/images/logos/white/200px/mondoTV.png' %}" alt="mondoTV">
                        <img src="{% static 'wood_core/images/logos/white/200px/flh.png' %}" alt="FLH">
                        <img src="{% static 'wood_core/images/logos/white/200px/chroma.png' %}" alt="chroma">
                        <img src="{% static 'wood_core/images/logos/white/200px/animal.jpg' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/scam.png' %}" alt="SCAM">
                        <img src="{% static 'wood_core/images/logos/white/200px/LBE.jpg' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/r-havik.png' %}" alt="">
                        <img src="{% static 'wood_core/images/logos/white/200px/WeTellStories.png' %}" alt="we tell stories">
                        <img src="{% static 'wood_core/images/logos/white/200px/triangle.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="copyright">
                © 32shoot asbl
            </div>

            <div class="ac-credits">
                dev &amp; design :
                <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
            </div>
        </article>
    </div>
</body>

</html>