{% load static %}
{% load wood %}

<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="{% static 'wood_core/svg/wowiwe-fb.jpg' %}" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <title>Wood Wide Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
</head>

<body>
    <article class="home">
        <div class="site-title">
            <img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web">
        </div>
        <div class="pitch green">
            Een echt en virtueel
            <br> stadsbos groeit
            <br> in Brussel
        </div>
        <div class="sub-pitch white">
            <span>Ga voor de ervaring </span>
            <span class="lang-switch">
                <a href="nl/about.html">Meer informatie</a>
                <a href="../fr">Français</a>
            </span>
        </div>
        <div class="arrow-down">
            <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
        </div>
    </article>

    <article class="map">
        <div class="map-gif">
            <a href="atlas.html">
                <img src="{% static 'wood_core/images/gif/carte-orthos-communes-03-p-fond-FR-800.gif' %}" alt="">
            </a>
        </div>

        <div class="map-text-wrapper">
            <div class="pitch orange">
                Een dynamische
                <br> kaart waaraan u
                <br> zelf meewerkt
                <br>
            </div>
            <div class="sub-pitch black">
                Verschillende soorten
                <br> bomen opsporen,
                <br> ze onderbrengen in
                <br> een netwerk, verbinding
                <br> maken met media rond
                <br> bomen of deelnemen
                <br> aan activiteiten op het
                <br> terrein, een boswandeling
                <br> maken in de stad.

            </div>
            <div class="pitch black">
                <a href="atlas.html">Bezoek de atlas</a>
            </div>
            <div class="pitch orange">
                <div>Op dit moment</div>
                <div class="counter">
                    <div class="digit-wrapper">
                        <div class="digit">0</div>
                        <div class="digit">1</div>
                        <div class="digit">2</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digit">6</div>
                        <div class="digit">5</div>
                        <div class="digit">4</div>
                    </div>
                    <div class="digit-wrapper">
                        <div class="digit">3</div>
                        <div class="digit">2</div>
                        <div class="digit">1</div>
                    </div>
                </div>
                <div>aangehaalde bomen !</div>
            </div>
            <div class="pitch black">
                <a href="http://woodwideweb.be:8080/form/uw_boom" target="_blank">Voeg uw boom</a>
            </div>
        </div>
    </article>

    <article class="media-pitch">
        <div class="media-infos-wrapper">
            <div class="pitch white">
                Rijkdom
                <br> aan media
                <br>
            </div>
            <div class="sub-pitch white">
                (...) geluidsopnames,
                <br> illustraties en ook video’s,
                <br> belichten de bomen
                <br> vanuit een originele,
                <br> zintuiglijke of wetenschappelijke
                <br> invalshoek.
            </div>
            <div class="pitch white">
                het portret van de maand :
                <a href="{% url 'wood-atlas-tree' lang monthly.tree.id %}">{{ monthly.tree.name|tr:lang }}</a>
            </div>
        </div>
    </article>

    <!-- <article class="media-vr">
            <script src="https://360player.io/static/dist/scripts/embed.js" async></script>
            <iframe src="https://360player.io/p/eiBKcU/" frameborder="0" class="vr360" allowfullscreen data-token="eiBKcU"></iframe>
        </article> -->

    <!-- <article class="media-label">
                <div class="pitch white">
                    Images 360°
                </div>
        </article> -->

    <article class="media-video">
        <iframe src="https://player.vimeo.com/video/234015358?title=0&byline=0&portrait=0" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-v"></iframe>
        <!-- <iframe src="https://www.youtube.com/embed/x-dAUKL4ACk?rel=0" frameborder="0" allowfullscreen class="video"></iframe> -->
        <div class="video-text">
            <div class="pitch">
                ... de geheimen van
                <br> onthuld
                <br>
                <br> ... getoond vanuit een
                <br> ongezien perspectief
            </div>
            <div class="sub-pitch">
                Mammoetboom
                <br> Park van Woluwe, St.-Pieters-Woluwe
                <br>
                <a href="http://bomen-inventaris.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaris
                    op van de merkwaardige bomen</a>
            </div>
        </div>

    </article>


    <!-- mobile specific block -->
    <article class="mob-portrait">
        <div class="video-text">
            <div class="pitch">
                ... de geheimen van
                <br> onthuld
                <br> ... getoond vanuit een
                <br> ongezien perspectief
            </div>
            <div class="sub-pitch">
                Mammoetboom
                <br> Park van Woluwe, St.-Pieters-Woluwe
                <br>
                <a href="http://bomen-inventaris.irisnet.be/arbre/Woluwe-Saint-Pierre_Parc_de_Woluwe/2851/14/" target="_blank">Inventaris
                    op van de merkwaardige bomen</a>
            </div>
        </div>
    </article>


    <article class="media-audio">
        <div class="pitch">
            ... gefluister
            <br> in je oor
        </div>
        <div class="sub-pitch">
            <audio controls>
                <source src="{% static 'wood_core/audio/ARBUNOCT01.ogg' %}" type="audio/ogg">
                <source src="{% static 'wood_core/audio/ARBUNOCT01.mp3' %}" type="audio/mpeg"> Sorry, your browser does
                not support the audio element.
            </audio>
        </div>
    </article>

    <article class="media-avap">
        <div class="pitch">
            ... reizen
            <br> in de tijd
        </div>
        <div class="sub-pitch">
            Zilverlinde
            <br> Invalidenlaan, Oudergem
            <br> 1930-2015
            <br>
            <a href="http://bruciel.brussels/" target="_blank">bruciel.brussels</a>
        </div>
    </article>

    <!-- mobile specific block -->
    <article class="mob-portrait">
        <div class="pitch">
            ... reizen
            <br> in de tijd
        </div>
        <div class="sub-pitch">
            Zilverlinde
            <br> Invalidenlaan, Oudergem
            <br> 1930-2015
            <br>
            <a href="http://bruciel.brussels/" target="_blank">bruciel.brussels</a>
        </div>
    </article>

    <article class="observe">
        <div class="pitch">
            … observeren met
            <br> scherpe blik
        </div>

        <div class="sub-pitch">
            Rode beuk
            <br> Cijnsstraat, Ganshoren
        </div>
    </article>

    <article class="activite">
        <div class="pitch">
            Ontdekken / Deelnemen
            <br> aan activiteiten op het terrein
        </div>

        <div class="sub-pitch">
            2018 - 2019
            <br>
            <a href="{% static 'wood_core/files/Article_Agenda_NL.pdf' %}" target="_blank">Agenda</a>
            <br>
            <a href="{% static 'wood_core/files/Article_Activites_QuoideNeuf_NL.pdf' %}" target="_blank">Wat is nieuw</a>
        </div>
    </article>

    <article class="portrait">
        <div class="portrait-wrapper">
            <div class="portrait-textwrapper">
                <div class="pitch green">
                    Multimediaportretten
                    <br> vertellen het verhaal
                    <br> van monumentale bomen
                </div>
                <div class="sub-pitch black">
                    Serie
                    <a href="{% static 'wood_core/files/Article_Fiches_et_Portraits_NL.pdf' %}" target="_blank">leerrijke</a>
                    fiches
                    <br> schetst een beeld van
                    <br> opmerkelijke bomen
                </div>
            </div>
            <div class="illu-fiches-nl"></div>
        </div>
    </article>


    <article id="footer" class="footer">
        <div class="imago-wrapper">
            <div class="imago-www">
                <img src="{% static 'wood_core/svg/wowiwe-imago-4.svg' %}" alt="">
            </div>
            <div class="imago-text">
                <div class="pitch white">
                    Dit project is geïnspireerd
                    <br> op het communicatiesysteem
                    <br> rond de wortels waarmee
                    <br> de bomen van het bos
                    <br> onderling verbonden zijn:
                    <br> het ‘Wood Wide Web’.
                </div>
                <div class="arrow-down">
                    <img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt="">
                </div>
                <div class="sub-pitch fb">
                    <span>
                        <a href="https://www.facebook.com/groups/168183870459622/" target="_blank">
                            <img src="../style/svg/fb-white.svg" alt="">
                        </a>
                    </span>
                    <span>Ga voor de ervaring!</span>
                </div>
                <div class="sub-pitch">
                    Contact :
                    <a href="mailto:contact@woodwideweb.be">Priscille Cazin</a> voor 32shoot asbl
                    <br>
                    <br>
                </div>

                <div class="pitch white">
                    Newsletter
                </div>
                <div class="sub-pitch">
                    <div id="mc_embed_signup">
                        <form action="//woodwideweb.us16.list-manage.com/subscribe/post?u=5ddd2f07e24f445f8beb68f04&amp;id=3a11865772"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                            target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">

                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address
                                        <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">Prénom / Voornaam / First name </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_5ddd2f07e24f445f8beb68f04_3a11865772" tabindex="-1"
                                        value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>
                        (function ($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            fnames[1] = 'FNAME';
                            ftypes[1] = 'text';
                            fnames[2] = 'LNAME';
                            ftypes[2] = 'text';
                        }(jQuery));
                        var $mcj = jQuery.noConflict(true);
                    </script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>

        <div class="prod">
            <div class="pitch">
                Productie :
            </div>
            <div class="sub-pitch">
                Threetwoshoot asbl
            </div>
            <img src="{% static 'wood_core/images/logos/white/200px/32shout.png' %}" alt="32shout">
        </div>

        <div class="prod">
            <div class="pitch">
                In samenwerking met :
            </div>
            <div class="sub-pitch">
                Afdeling Natuurlijk Erfgoed van de Directie Monumenten en Landschappen
            </div>
            <img src="{% static 'wood_core/images/logos/white/200px/BUP-FR-Blanc.png' %}" alt="Afdeling Natuurlijk Erfgoed van de Directie Monumenten en Landschappen">
        </div>

        <div class="participation">
            <div class="pitch">
                Met de steun van :
            </div>
            <div class="partners">
                <div class="main-partners">
                    <img src="{% static 'wood_core/images/logos/white/200px/region.png' %}" alt="region bruxelles capitale">
                    <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
                    <img src="{% static 'wood_core/images/logos/white/200px/zerolutions.png' %}" alt="zerolutions">
                </div>
            </div>
        </div>

        <div class="participation">
            <div class="pitch">
                Met deelname van :
            </div>
            <div class="partners">
                <div class="main-partners">
                    <img src="{% static 'wood_core/images/logos/white/200px/gearup.png' %}" alt="gearup">
                    <img src="{% static 'wood_core/images/logos/white/200px/videolab.png' %}" alt="videolab">
                    <img src="{% static 'wood_core/images/logos/white/200px/F-LAT.png' %}" alt="F-LAT">
                    <img src="{% static 'wood_core/images/logos/white/200px/geo2play.png' %}" alt="geo2play">
                    <img src="{% static 'wood_core/images/logos/white/200px/mondoTV.png' %}" alt="mondoTV">
                    <img src="{% static 'wood_core/images/logos/white/200px/flh.png' %}" alt="FLH">
                    <img src="{% static 'wood_core/images/logos/white/200px/chroma.png' %}" alt="chroma">
                    <img src="{% static 'wood_core/images/logos/white/200px/animal.jpg' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/scam.png' %}" alt="SCAM">
                    <img src="{% static 'wood_core/images/logos/white/200px/LBE.jpg' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/r-havik.png' %}" alt="">
                    <img src="{% static 'wood_core/images/logos/white/200px/WeTellStories.png' %}" alt="we tell stories">
                    <img src="{% static 'wood_core/images/logos/white/200px/triangle.png' %}" alt="">
                </div>
            </div>
        </div>

        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>
    </article>
</body>

</html>