{% load static %}
{% load wood %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Een echt en virtueel stadsbos groeit in Brussel">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="http://woodwideweb.be/style/svg/wowiwe-fb.jpg" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <script>
        window.woodLang = 'fr';
    </script>
    <script src="{% static 'bundle.js' %}"></script>
    <title>WoodWideWeb - Atlas</title>


</head>

<body class="atlas">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>

        </div>

        <div class="header-atlas-lang">
            <a href="../fr/atlas.html">Français</a>
        </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" %}</a>
        </div>


    </div>

    <div id="map" class="abs">

    </div>

    <div id="legend" class="abs">
        <div class="legend-intro">
            <div class="sub-pitch">
                <p>Een stedelijk bos, echt en virtueel, groeit in Brussel. Identificeer bomen van verschillende
                    soorten, netwerkze, verbind met boommedia of veldactiviteiten, maak een boswandeling in de stad.
                    Begin hier of hieronder. Welkom!
                </p>
            </div>
            <p>
                <a href="{% static 'wood_core/files/Article_MiniTuto_Atlas_NL.pdf' %}" target="_blank"> <img src="{% static 'wood_core/style/svg/info.svg' %}"
                        alt="" style="width:20px; height:20px; padding:3px;"> Atlas: hoe werkt het </a>
            </p>
            <p>
                <a href="{% static 'wood_core/files/Article_Tuto_Ajouter_Arbre_NL.pdf' %" target="_blank"> <img src="{% static 'wood_core/style/svg/info.svg' %}"
                        alt="" style="width:20px; height:20px; padding:3px;"> Hoe voeg ik een boom toe</a>
            </p>
        </div>

        <div id="specie-filter">
            <h2>Filter op boomessence :</h2>
        </div>

        <div class="legend-map">
            <h2>Legende :</h2>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-red.svg' %}" alt="">
                </span>
                <span class="label">Opmerkelijke bomen</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-portrait.svg' %}" alt="">
                </span>
                <span class="label">Opmerkelijke bomen met portret</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-orange.svg' %}" alt="">
                </span>
                <span class="label">Bekende bomen</span>
            </div>
            <h2>Binnenkort : </h2>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-blue.svg' %}" alt="">
                </span>
                <span class="label">Aangenomen bomen (2e helft 2018)</span>
            </div>
            <div class="legend-map-item">
                <span class="picto">
                    <img src="{% static 'wood_core/svg/item-pink.svg' %}" alt="">
                </span>
                <span class="label">Bomen verzorgd of geplant (2019)</span>
            </div>
        </div>
    </div>

    <div class="credits">
        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>

        <div class="copyright">
            orthophoto ©UrbIS 2017
        </div>

    </div>
</body>

</html>