@headerAtlas : 2.5 * @margin;
@legendWidth : 350px;

body.atlas {
    background: white;
    color: #000;
    a {color: #000}
}

#header-atlas {
    width: 100%;
    height: @headerAtlas;
    padding: 0 @margin;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    color : #000;
    background-color: #fff;
    a {color: #000 !important;}

    @media @landscape-md {
        .absolute(0, @margin, calc(~"100vh - @{headerAtlas}"), @margin);
        width: auto;
        height: auto;
        padding: 0;
    }
}

#map {
    width: 100%;
    height: calc(~"50vh - @{headerAtlas}");
    @media @landscape-md {
        .absolute(@headerAtlas, @legendWidth, @margin, @margin);
        background-color: white;
        z-index: 1;
        width: auto;
        height: auto;
    }
}

#map button {
    min-width: auto;
    width: 20px;
    height: 20px;
}

#legend {
    font-size: 1.2rem;
    padding: 0 @margin;

    @media @landscape-md {
        .absolute(@headerAtlas, @margin, @margin, calc(~"100vw - @{legendWidth}"));
        padding: @margin;
        background: white;
        opacity: 0.8;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

#legend {

    h2 {
        color: #009245;
    }

    .legend-intro {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .legend-item {
        color: black;
        cursor: pointer;
        padding-left: 1em;
        margin-left: 1em;
        border-left: 3px solid transparent;

        &:hover  {border-left-color: #bbdaed;}
        &.highlight {
            border-left-color: #0094F5;
            &:hover {
                border-color: transparent;
                &::before {
                    content: 'x';
                    position: absolute;
                    left: 31px;
                    font-weight: bold;
                    color: #0094F5;
                }
            }
        }

    }

    .legend-map {
        margin-top: @margin;
        .legend-map-item {
            display: flex;
            .picto {
                margin-right: @margin;
            }
        }
    }
}


#map .popup {
    background-color: #70B62C;
    padding: 5px;
    border-left: 1px solid red;

        >div {
            color: #FFF;
            font-size: 1.5rem;
            font-weight: 600;

            &.specie {
                font-weight: 100;
                font-size: 1rem;
            }

            &.link {
                text-align: right;
                a{
                    color: inherit;
                    font-size: 1rem;
                }
                // text-decoration: none;
                // &:hover {text-decoration: underline;}
            }
        }
}

.atlas .credits {
    height: @margin;
    font-size: 10px;

    @media @landscape-md {
        .absolute(auto, @margin, 0, @margin);
        display: flex;
        justify-content: space-between;
    }

    .copyright{
        height: @margin;
        display: flex;
        align-items: center;
        color: rgb(51, 48, 48);
        padding-left: @sm-margin;

        @media @landscape-md {
            // .absolute(auto, auto, 0, @margin);
            padding-left: 0;
        }
    }


    .ac-credits {
        height: @margin;
        display: flex;
        align-items: center;
        color: rgb(51, 48, 48);
        padding-left: @sm-margin;
        a, a:visited, a:link{color: black; text-decoration: none;}
        a:hover, a:link{color: black;}

        @media @landscape-md {
            // .absolute(auto, @legendWidth, 0, auto);
            padding-left: 0;
        }
    }
}






.ol-attribution {display: none;}
.ol-zoom {
    top:auto;
    left:auto;
    bottom: .5em;
    right: .5em;
}

.ol-zoom-in,
.ol-zoom-out {
    color: transparent !important;
    background-color: transparent !important;
}

.ol-zoom-out {margin-top: @margin / 3 !important;}

.ol-zoom-in:before,
.ol-zoom-out:before {
    width: 20px;
    height: 20px;
}
.ol-zoom-in:before {content: url('svg/zoom-in.svg');}
.ol-zoom-out:before {content: url('svg/zoom-out.svg');}
