<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles">
    <meta name="keywords" content="">

    <meta property="og:title" content="WOOD WIDE WEB" />
    <meta property="og:url" content="http://woodwideweb.be" />
    <meta property="og:image" content="http://woodwideweb.be/styles/svg/wowiwe-fb.png" />
    <meta property="og:site_name" content="Wood Wide Web" />
    <meta property="og:description" content="Une forêt urbaine réelle et virtuelle qui pousse à Bruxelles - Een echt en virtueel stadsbos groeit in Brussel" />

    <title>{{NOM_FR}} - Wood Wide Web</title>

    <link rel="stylesheet" type="text/css" href="../../style/style.css" />
    <link rel="shortcut icon" type="image/png" href="style/svg/favicon.png" />

    <style media="screen"></style>

</head>

<body class="atlas">

    <section class="main">

        <div class="www-logo">
            <img src="../../style/svg/wowiwe-imago-1-www.svg" alt="">
        </div>

        <!-- BLOCK TITLE -->
        <section class="block-title">
            <h1>
                <div>{{NOM_FR}}</div>
                <div>{{ADRESSE_1}}</div>
            </h1>
        </section>

        <!-- MAIN IMAGE -->
        <section class="main-img">
            {{#each photomatons}}
            <div class="photomaton">
                <img src="{{image_url}}" alt="">
            </div> {{/each}}
        </section>

        <!-- BLOCK LEFT -->
        <section class="block-left">

            <!-- address -->
            <section class="address">
                <div class="item">
                    <div class="label">Adresse :</div>
                    <div class="content">
                        <span>{{ADRESSE_1}}</span>
                        <span> {{ADRESSE_2}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Coordonnées GPS :</div>
                    <div class="content">
                        <span>{{GPS1}}</span>
                        <span>, {{GPS2}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Coordonnées Lambert :</div>
                    <div class="content">
                        <span>{{LAMBERT_1}}</span>
                        <span>, {{LAMBERT_2}}</span>
                    </div>
                </div>
            </section>

            <!-- identity -->
            <section class="identity">
                <h2>Carte d'identité</h2>
                <div class="item">
                    <div class="label">Nom en latin :</div>
                    <div class="content">
                        <span>{{LATIN}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Nom en français :</div>
                    <div class="content">
                        <span>{{NOM_FR}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Nom en néerlandais :</div>
                    <div class="content">
                        <span>{{NOM_NL}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Nom en anglais :</div>
                    <div class="content">
                        <span>{{NOM_EN}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Famille :</div>
                    <div class="content">
                        <span>{{FAMILLE}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Hauteur :</div>
                    <div class="content">
                        <span>{{HAUTEUR}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Hauteur visée :</div>
                    <div class="content">
                        <span>{{HAUTEUR_VISE_E}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Diamètre de la couronne :</div>
                    <div class="content">
                        <span>{{DIAME_TRE_COURONNE}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Circonférence du tronc :</div>
                    <div class="content">
                        <span>{{CIRCONFE_RENCE_DU_TRONC}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Circonférence espérée :</div>
                    <div class="content">
                        <span>{{CIRCONFE_RENCE_ESPE_RE_E}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Longévité espérée :</div>
                    <div class="content">
                        <span>{{LONGE_VITE_ESPE_RE_E}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Origine / Indigène :</div>
                    <div class="content">
                        <span>{{ORIGINE_INDIGE_NE}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Sol préféré :</div>
                    <div class="content">
                        <span>{{SOL_PRE_FE_RE}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Climat préféré :</div>
                    <div class="content">
                        <span>{{CLIMAT_PRE_FE_RE}}</span>
                    </div>
                </div>
            </section>
            <!-- /identity -->


            <!-- services -->
            <section class="services">
                <h2>Utilité et services de l'arbre</h2>

                <div class="item">
                    <div class="label">Embellit le paysage :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore EMBELLIT_LE_PAYSAGE}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel EMBELLIT_LE_PAYSAGE}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Enrichit la biodiversité :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore ENRICHIT_LA_BIODIVERSITE}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel ENRICHIT_LA_BIODIVERSITE}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Fournit de l'oxygène :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore FOURNIT_DE_L_OXYGE_NE}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel FOURNIT_DE_L_OXYGE_NE}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Purifie l'air :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore PURIFIE_L_AIR}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel PURIFIE_L_AIR}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Filtre l'eau :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore FILTRE_L_EAU}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel FILTRE_L_EAU}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Évite les inondations :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore EVITE_LES_INONDATIONS}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel EVITE_LES_INONDATIONS}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Stocke le carbone :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore STOCKE_LE_CARBONE}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel STOCKE_LE_CARBONE}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Adoucit le climat :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore ADOUCIT_LE_CLIMAT}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel ADOUCIT_LE_CLIMAT}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Limite l'érosion du sol :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore LIMITE_L_E_ROSION_DU_SOL}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel LIMITE_L_E_ROSION_DU_SOL}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Fait du bien, guérit :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore FAIT_DU_BIEN_EST_UTILE}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel FAIT_DU_BIEN_EST_UTILE}}{{/Klabel}}</span>
                    </div>
                </div>
            </section>
            <!-- /services -->
        </section>

        <!-- BLOCK MIDDLE -->
        <section class="block-middle">

            <!-- description -->
            <section class="description">
                <h2>Traits et caractères de l'individu</h2>
                <div class="item">
                    <div class="content">
                        <p>{{{TRAITS_CARACTE_RE_DE_L_INDIDIVU}}}</p>
                    </div>
                </div>
            </section>

            <!-- heritage / patrimoine-->
            <section class="heritage">
                <h2>Cet individu fait partie du patrimoine vivant</h2>
                {{#each LIEN_PATRIMOINE_REGIONAL_FR}}
                <div class="patrimoine regional">
                    <span>Régional > </span>
                    <span><a href="{{url}}" target="_blank">Inventaire scientifique</a></span>
                </div>
                {{/each}}
                {{#each LIEN_PATRIMOINE_NATIONAL_FR}}
                <div class="patrimoine national">
                    <span>National > </span>
                    <span><a href="{{url}}" target="_blank">Dendrologie</a></span>
                </div>
                {{/each}}
                {{#each LIEN_PATRIMOINE_MONDIAL_FR}}
                <div class="patrimoine mondial">
                    <span>Mondial > </span>
                    <span><a href="{{url}}" target="_blank">Monumental tree</a></span>
                </div>
                {{/each}}


            </section>
        </section>

        <!-- we put a bulk of medias in there, trying to float them all...  -->

        {{#each PLANCHE_BOTA}}
        <div class="planche-bota-wrapper">
            <a href="../../images/botanic/{{name}}">
                <img src="../../images/botanic/{{name}}" alt="">
            </a>
            <div class="caption">
                {{caption_fr}}
            </div>
        </div>
        {{/each}}


        {{#each medias}}
        <div class="media-image-wrapper">
            <div id="{{id}}" class="media-image">
                <img src="{{image_url}}" alt="">
            </div>
        </div>
        {{/each}}

    </section>

</body>

</html>
