<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="">

    <meta property="og:title" content="{{NOM_FR}} - Wood Wide Web" />
    <meta property="og:url" content="http://woodwideweb.be/2018/fr/atlas/{{SID}}.html" />
    {{#each photomatons}}
    <meta property="og:image" content="http://woodwideweb.be/2018/fr/atlas/{{image_url}}" />
    {{/each}}
    <meta property="og:site_name" content="Wood Wide Web" />

    <title>{{NOM_FR}} - Wood Wide Web</title>

    <link rel="stylesheet" type="text/css" href="../../style/style.css" />
    <link rel="shortcut icon" type="image/png" href="../../style/svg/favicon.png" />

    <style media="screen">

        .photomaton,
        .media-image {
            background-repeat: no-repeat;
        }
        .photomaton {
            background-size: contain;
            background-position: left;
        }
        .media-image {
            background-size: cover;
            background-position: center;
        }

        {{#media_css photomatons}}
        {{/media_css}}

        {{#media_css medias}}
        {{/media_css}}

    </style>

</head>

<body class="atlas">

    <div id="header-atlas">
        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be"><img src="../../style/svg/wowiwe-imago-1-www.svg" alt=""></a>

        </div>

        <div class="header-atlas-lang">
            <a href="../../nl/atlas/{{SID}}.html">Nederlands</a>
        </div>

        <div class="header-atlas-about">
            <a href="../about.html">À propos du projet</a>
        </div>

        <!-- Only show pdf link for "remarquable" trees -->
        {{#if is_remarquable}}
        <div class="header-atlas-print">
            <a href="{{PDF_LINK}}" target="_blank">
                <img src="../../style/svg/pdf.svg" alt="">
            </a>
        </div>
        {{/if}}
        <!-- End of : Only show pdf link for "remarquable" trees -->


    </div>

    <section class="main">

        <section class="main-header">
            <!-- NAVIGATE -->
            <div class="nav-widget">
                <div class="map-link">
                    <a href="index.html">
                        <img src="../../images/gif/carte-orthos-communes-03-p-fond-FR-600.gif" alt="">
                    </a>
                </div>
                <!-- <div class="svg-navigator">
                    {{>nav}}
                </div> -->
            </div>

            <!-- BLOCK TITLE -->
            <section class="block-title">
                <h1>
                    <div>{{NOM_FR}}</div>
                </h1>
            </section>

        </section>


        <section class="main-content">

            <!-- BLOCK LEFT -->
            <section class="block-left">

                <!-- address -->
                <section class="address">
                    <div class="item">
                        <div class="label">Adresse :</div>
                        <div class="content">
                            <span>{{ADRESSE_1}}</span>
                            <span> {{ADRESSE_2}}</span>
                        </div>
                    </div>

                    {{#if_not_empty REMARQUEUR_NAME_FR}}
                    <div class="item">
                        <div class="label">Partenaire :</div>
                        <div class="content">
                            <span>Cet arbre a été ajouté à l’atlas de Wood Wide Web par </span>
                            {{#if_not_empty REMARQUEUR_URL_FR}}
                            <span> <a href="{{REMARQUEUR_URL_FR}}">{{REMARQUEUR_NAME_FR}}</a> </span>
                            {{else}}
                            <span>{{REMARQUEUR_NAME_FR}}</span>
                            {{/if_not_empty}}
                        </div>
                    </div>
                    {{/if_not_empty}}

                    <!-- Only show if tree is "remarquable" -->
                    {{#if is_remarquable}}
                    <div class="item">
                        <div class="label">Coordonnées GPS :</div>
                        <div class="content">
                            <span>{{GPS1}}</span>
                            <span>, {{GPS2}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Coordonnées Lambert :</div>
                        <div class="content">
                            <span>{{LAMBERT_1}}</span>
                            <span>, {{LAMBERT_2}}</span>
                        </div>
                    </div>
                    {{/if}}
                    <!-- End of : Only show if tree is "remarquable" -->

                </section>

                <!-- identity -->
                <section class="identity">
                    <h2>Carte d'identité</h2>
                    <div class="item">
                        <div class="label">Nom en latin :</div>
                        <div class="content">
                            <span>{{LATIN}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Nom en français :</div>
                        <div class="content">
                            <span>{{NOM_FR}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Nom en néerlandais :</div>
                        <div class="content">
                            <span>{{NOM_NL}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Nom en anglais :</div>
                        <div class="content">
                            <span>{{NOM_EN}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Famille :</div>
                        <div class="content">
                            <span>{{FAMILLE}}</span>
                        </div>
                    </div>

                    <!-- Only show if tree is "remarquable" -->
                    {{#if is_remarquable}}
                    <div class="item">
                        <div class="label">Hauteur :</div>
                        <div class="content">
                            <span>{{HAUTEUR}}</span>
                        </div>
                    </div>
                    {{/if}}
                    <!-- End of : Only show if tree is "remarquable" -->


                    <div class="item">
                        <div class="label">Hauteur visée :</div>
                        <div class="content">
                            <span>{{HAUTEUR_VISE_E}}</span>
                        </div>
                    </div>

                    <!-- Only show if tree is "remarquable" -->
                    {{#if is_remarquable}}
                    <div class="item">
                        <div class="label">Diamètre de la couronne :</div>
                        <div class="content">
                            <span>{{DIAME_TRE_COURONNE}}</span>
                        </div>
                    </div>
                    {{/if}}
                    <!-- End of : Only show if tree is "remarquable" -->


                    <!-- Only show if tree is "remarquable" -->
                    {{#if is_remarquable}}
                    <div class="item">
                        <div class="label">Circonférence du tronc :</div>
                        <div class="content">
                            <span>{{CIRCONFE_RENCE_DU_TRONC}}</span>
                        </div>
                    </div>
                    {{/if}}
                    <!-- End of : Only show if tree is "remarquable" -->


                    <div class="item">
                        <div class="label">Circonférence espérée :</div>
                        <div class="content">
                            <span>{{CIRCONFE_RENCE_ESPE_RE_E}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Longévité espérée :</div>
                        <div class="content">
                            <span>{{LONGE_VITE_ESPE_RE_E}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Origine / Indigène :</div>
                        <div class="content">
                            <span>{{ORIGINE_INDIGE_NE}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Sol préféré :</div>
                        <div class="content">
                            <span>{{SOL_PRE_FE_RE}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Climat préféré :</div>
                        <div class="content">
                            <span>{{CLIMAT_PRE_FE_RE}}</span>
                        </div>
                    </div>
                </section>
                <!-- /identity -->


                <!-- services -->
                <!-- Only show for "remarquable" trees -->
                {{#if is_remarquable}}
                <section class="services">
                    <h2>Utilité et services de l'arbre <a href="../../files/Article_ServicesArbres_FR.pdf" target="_blank">
                            <img src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;"> </a>
                    </h2>

                    <div class="item">
                        <div class="label">Embellit le paysage :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore EMBELLIT_LE_PAYSAGE}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel EMBELLIT_LE_PAYSAGE}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Enrichit la biodiversité :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore ENRICHIT_LA_BIODIVERSITE}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel ENRICHIT_LA_BIODIVERSITE}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Fournit de l'oxygène <a href="../../files/Oxygene.pdf"><img src="../../style/svg/info.svg"
                                    alt="" style="width:16px; height:16px; padding:3px;"> </a> :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore FOURNIT_DE_L_OXYGE_NE}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel FOURNIT_DE_L_OXYGE_NE}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Purifie l'air <a href="../../files/Oxygene.pdf"><img src="../../style/svg/info.svg"
                                    alt="" style="width:16px; height:16px; padding:3px;"> </a> :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore PURIFIE_L_AIR}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel PURIFIE_L_AIR}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Filtre l'eau :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore FILTRE_L_EAU}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel FILTRE_L_EAU}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Évite les inondations :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore EVITE_LES_INONDATIONS}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel EVITE_LES_INONDATIONS}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Stocke le carbone :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore STOCKE_LE_CARBONE}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel STOCKE_LE_CARBONE}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Adoucit le climat <a href="../../files/Article_Regulateurs_Thermiques.pdf"><img
                                    src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;">
                            </a> :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore ADOUCIT_LE_CLIMAT}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel ADOUCIT_LE_CLIMAT}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Limite l'érosion du sol :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore LIMITE_L_E_ROSION_DU_SOL}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel LIMITE_L_E_ROSION_DU_SOL}}{{/Klabel}}</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="label">Fait du bien, guérit :</div>
                        <div class="content">
                            <span class="k-score">{{#Kscore FAIT_DU_BIEN_EST_UTILE}}{{/Kscore}}</span>
                            <span class="k-label">{{#Klabel FAIT_DU_BIEN_EST_UTILE}}{{/Klabel}}</span>
                        </div>
                    </div>

                </section>
                {{/if}}
                <!-- End of : Only show for "remarquable" trees -->
                <!-- /services -->

                <!-- planches botaniques -->
                {{#each PLANCHE_BOTA}}
                <div class="planche-bota-wrapper">
                    <a href="../../images/botanic/{{name}}">
                        <img src="../../images/botanic/{{name}}" alt="">
                    </a>
                    <div class="caption">
                        {{caption_fr}}
                    </div>
                </div>
                {{/each}}

                <!-- heritage / patrimoine-->
                {{#if_not_empty LIEN_PATRIMOINE_REGIONAL_FR}}
                <section class="heritage">
                    <h2>Cet individu fait partie du patrimoine vivant</h2>
                    {{#each LIEN_PATRIMOINE_REGIONAL_FR}}
                    <div class="patrimoine regional">
                        <span>Régional > </span>
                        <span><a href="{{url}}" target="_blank">Inventaire scientifique</a></span>
                    </div>
                    {{/each}}
                    {{#each LIEN_PATRIMOINE_NATIONAL_FR}}
                    <div class="patrimoine national">
                        <span>National > </span>
                        <span><a href="{{url}}" target="_blank">Dendrologie</a></span>
                    </div>
                    {{/each}}
                    {{#each LIEN_PATRIMOINE_MONDIAL_FR}}
                    <div class="patrimoine mondial">
                        <span>Mondial > </span>
                        <span><a href="{{url}}" target="_blank">Monumental tree</a></span>
                    </div>
                    {{/each}}
                </section>
                {{/if_not_empty}}


                <!-- twinning -->
                {{#if LIEN_JUMELAGE}}
                <section class="twinning">
                    <h2>Arbres liés - jumelage</h2>
                    <div class="belgique">
                        <p>Belgique</p>
                        {{#each LIEN_JUMELAGE_BELGIQUE}}
                        <li><a href="{{url}}" target="_blank">{{label_fr}}</a></li>
                        {{/each}}
                    </div>
                    <div class="europe">
                        <p>Union Européenne</p>
                        {{#each LIEN_JUMELAGE_EUROPE}}
                        <li><a href="{{url}}" target="_blank">{{label_fr}}</a></li>
                        {{/each}}
                    </div>
                    <div class="monde">
                        <p>Monde</p>
                        {{#each LIEN_JUMELAGE_MONDE}}
                        <li><a href="{{url}}" target="_blank">{{label_fr}}</a></li>
                        {{/each}}
                    </div>

                </section>
                {{/if}}

                <!-- linked-medias -->
                {{#if LINKED_MEDIAS}}
                <section class="linked-medias">
                    <h2>Médias liés</h2>
                    {{#each LINKED_MEDIAS}}
                    <li><a href="{{url}}" target="_blank">{{label_fr}}</a></li>
                    {{/each}}

                </section>
                {{/if}}


            </section>


            <section class="block-content">
            
                <!-- BLOCK MIDDLE -->
                <section class="block-middle">


                    <!-- MAIN IMAGE -->
                    <section class="main-img">
                        {{#each photomatons}}
                        <div id="{{id}}" class="photomaton"></div> {{/each}}
                    </section>

                    <!-- description -->
                    <section class="description">
                        {{#if is_remarquable}}
                        <h2>Traits et caractères de l'individu</h2>
                        {{else}}
                        <h2>Traits et caractères de l'arbre remarqué</h2>
                        {{/if}}
                        <div class="item">
                            <div class="content">
                                <p>{{{TRAITS_CARACTE_RE_DE_L_INDIDIVU}}}</p>
                            </div>
                        </div>
                    </section>

                    <!-- Activités -->
                    {{#if_not_empty ACTIVITE_FR}}
                    <section class="item">
                        <h2>Lien vers les activités</h2>
                        {{#each ACTIVITE_FR}}
                        <div class="item">
                            <div class="content">
                                <p><a href="{{url}}">{{label}}</a></p>
                            </div>
                        </div>
                        {{/each}}
                    </section>
                    {{/if_not_empty}}

                </section>


                <!-- PORTRAIT -->
                {{#if_not_empty PORTRAIT_FR}}
                <div class="portrait">
                    {{{PORTRAIT_FR}}}
                </div>
                {{/if_not_empty}}


                <!-- attached-medias -->
                <section class="media-collection">
                    {{#each EMBED_MEDIA_VIMEO}}
                    <div class="media-video">
                        <iframe src="https://player.vimeo.com/video/{{embed}}?title=0&amp;byline=0&amp;portrait=0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="video-v" frameborder="0"></iframe>
                    </div>
                    {{/each}}

                    {{#each EMBED_MEDIA_YOUTUBE}}
                    <div class="media-video">
                        <iframe width="100%" src="https://www.youtube.com/embed/{{embed}}?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    {{/each}}

                    {{#each medias}}
                    <div class="media-image-wrapper">
                        <a href="{{image_url}}">
                            <div id="{{id}}" class="media-image"></div>
                            {{#if AVEC_CAPTION}}
                            <div class="media-caption">{{caption_fr}}</div>
                            {{/if}}
                        </a>
                    </div>
                    {{/each}}
                </section>
            </section>


        </section>
    </section>
        


    <section class="footer-atlas">
        <a href="../../../fr/index.html"><img src="../../style/svg/www.svg" alt="wood wide web"></a>
        <a href="../../../fr/index.html#footer">Contact & Newsletter</a>
        <a href="https://www.facebook.com/Arbres-bruxellois-283959091674027/" target="_blank"><img src="../../style/svg/fb-white.svg"
                alt=""></a>

        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>
    </section>

</body>

</html>