<!doctype html>
<html class="no-js" lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="keywords" content="">

    <meta property="og:title" content="{{NOM_NL}} - Wood Wide Web" />
    <meta property="og:url" content="http://woodwideweb.be/2018/nl/atlas/{{SID}}.html" />
    {{#each photomatons}}
    <meta property="og:image" content="http://woodwideweb.be/2018/nl/atlas/{{image_url}}" />
    {{/each}}
    <meta property="og:site_name" content="Wood Wide Web" />

    <title>{{NOM_NL}} - Wood Wide Web</title>

    <link rel="stylesheet" type="text/css" href="../../style/style.css" />
    <link rel="shortcut icon" type="image/png" href="../../style/svg/favicon.png" />

    <style media="screen">

        .photomaton,
        .media-image {
            background-repeat: no-repeat;
        }
        .photomaton {
            background-size: contain;
            background-position: left;
        }
        .media-image {
            background-size: cover;
            background-position: center;
        }

        {{#media_css photomatons}}
        {{/media_css}}

        {{#media_css medias}}
        {{/media_css}}

    </style>

</head>

<body class="atlas">

    <div id="header-atlas">
        <div class="header-atlas-logo">
            <a href="http://woodwideweb.be"><img src="../../style/svg/wowiwe-imago-1-www.svg" alt=""></a>

        </div>

        <div class="header-atlas-lang">
            <a href="../../fr/atlas/{{SID}}.html">Français</a>
        </div>

        <div class="header-atlas-about">
            <a href="../about.html">Over het project</a>
        </div>

        <!-- Only show if tree is "remarquable" -->
        {{#if is_remarquable}}
        <div class="header-atlas-print">
            <a href="{{PDF_LINK}}" target="_blank">
                <img src="../../style/svg/pdf.svg" alt="">
            </a>
        </div>
        {{/if}}
        <!-- End of : Only show if tree is "remarquable" -->

    </div>

    <section class="main">
        <!-- NAVIGATE -->
        <div class="nav-widget">
            <div class="map-link">
                <a href="index.html">
                    <img src="../../images/gif/carte-orthos-communes-03-p-fond-NL-600.gif" alt="">
                </a>
            </div>
            <!-- <div class="svg-navigator">
                {{>nav}}
            </div> -->
        </div>

        <!-- BLOCK TITLE -->
        <section class="block-title">
            <h1>
                <div>{{NOM_NL}}</div>
                <div>{{ADRES_1}}</div>
            </h1>
        </section>

        <!-- MAIN IMAGE -->
        <section class="main-img">
            {{#each photomatons}}
            <div id="{{id}}" class="photomaton"></div> {{/each}}
        </section>

        <!-- BLOCK LEFT -->
        <section class="block-left">

            <!-- address -->
            <section class="address">
                <div class="item">
                    <div class="label">Adres :</div>
                    <div class="content">
                        <span>{{ADRESSE_1}}</span>
                        <span> {{ADRESSE_2}}</span>
                    </div>
                </div>


                {{#if_not_empty REMARQUEUR_NAME_NL}}
                <div class="item">
                    <div class="label">Opgemerkt door :</div>
                    <div class="content">
                        {{#if_not_empty REMARQUEUR_URL_NL}}
                        <span> <a href="{{REMARQUEUR_URL_FR}}">{{REMARQUEUR_NAME_NL}}</a> </span>
                        {{else}}
                        <span>{{REMARQUEUR_NAME_NL}}</span>
                        {{/if_not_empty}}
                    </div>
                </div>
                {{/if_not_empty}}

                <!-- Only show if tree is "remarquable" -->
                {{#if is_remarquable}}
                <div class="item">
                    <div class="label">Gps-coörd. :</div>
                    <div class="content">
                        <span>{{GPS1}}</span>
                        <span>, {{GPS2}}</span>
                    </div>
                </div>


                <div class="item">
                    <div class="label">Lambertcoörd. :</div>
                    <div class="content">
                        <span>{{LAMBERT_1}}</span>
                        <span>, {{LAMBERT_2}}</span>
                    </div>
                </div>
                {{/if}}
                <!-- End of :  Only show if tree is "remarquable" -->

            </section>

            <!-- identity -->
            <section class="identity">
                <h2>Identiteit</h2>
                <div class="item">
                    <div class="label">Latijn :</div>
                    <div class="content">
                        <span>{{LATIN}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Namm FR :</div>
                    <div class="content">
                        <span>{{NOM_FR}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Naam NL :</div>
                    <div class="content">
                        <span>{{NOM_NL}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Naam EN :</div>
                    <div class="content">
                        <span>{{NOM_EN}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Familie :</div>
                    <div class="content">
                        <span>{{FAMILLE}}</span>
                    </div>
                </div>

                <!-- Only show if tree is "remarquable" -->
                {{#if is_remarquable}}
                <div class="item">
                    <div class="label">Hoogte :</div>
                    <div class="content">
                        <span>{{HOOGTE}}</span>
                    </div>
                </div>
                {{/if}}
                <!-- End of :  Only show if tree is "remarquable" -->

                <div class="item">
                    <div class="label">Beoogde hoogte :</div>
                    <div class="content">
                        <span>{{BEOOGDE_HOOGTE}}</span>
                    </div>
                </div>

                <!-- Only show if tree is "remarquable" -->
                {{#if is_remarquable}}
                <div class="item">
                    <div class="label">Diameter kruin :</div>
                    <div class="content">
                        <span>{{DIAMETER_KRUIN}}</span>
                    </div>
                </div>
                {{/if}}
                <!-- End of : Only show if tree is "remarquable" -->

                <!-- Only show if tree is "remarquable" -->
                {{#if is_remarquable}}
                <div class="item">
                    <div class="label">Omtrek van de stam :</div>
                    <div class="content">
                        <span>{{OMTREK_VAN_DE_STAM}}</span>
                    </div>
                </div>
                {{/if}}
                <!-- Only show if tree is "remarquable" -->

                <div class="item">
                    <div class="label">Verwachte omtrek :</div>
                    <div class="content">
                        <span>{{VERWACHTE_OMTREK}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Verwachte levensduur :</div>
                    <div class="content">
                        <span>{{VERWACHTE_LEVENSDUUR}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Oorsprong/Afkomst :</div>
                    <div class="content">
                        <span>{{OORSPRONG_AFKOMST}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Voorkeursbodem :</div>
                    <div class="content">
                        <span>{{VOORKEURSBODEM}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Voorkeursklimaat :</div>
                    <div class="content">
                        <span>{{VOORKEURSKLIMAT}}</span>
                    </div>
                </div>
            </section>
            <!-- /identity -->


            <!-- services -->
            <!-- Only show if tree is "remarquable" -->
            {{#if is_remarquable}}
            <section class="services">
                <h2>Diensten geleverd door deze boom  <a href="../../files/Article_ServicesArbres_NL.pdf" target="_blank"> <img src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;"> </a> </h2>

                <div class="item">
                    <div class="label">Verfraait het landschap :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore VERFRAAIT_HET_LANDSCHAP}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel VERFRAAIT_HET_LANDSCHAP}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Verrijkt de biodiversiteit :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore VERRIJKT_DE_BIODIVERSITEIT}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel VERRIJKT_DE_BIODIVERSITEIT}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Levert zuurstof <a href="../../files/Oxygene_NL.pdf"><img src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;"> </a> :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore LEVERT_ZUURSTOF}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel LEVERT_ZUURSTOF}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Zuivert de lucht <a href="../../files/Oxygene_NL.pdf"><img src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;"> </a> :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore ZUIVERT_DE_LUCHT}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel ZUIVERT_DE_LUCHT}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Filtert het water :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore FILTERT_HET_WATER}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel FILTERT_HET_WATER}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Voorkomt overstromingen :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore VOORKOMT_OVERSTROMINGEN}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel VOORKOMT_OVERSTROMINGEN}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Slaat koolstof op :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore SLAAT_KOOLSTOF_OP}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel SLAAT_KOOLSTOF_OP}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Verzacht het klimaat <a href="../../files/Article_Regulateurs_Thermiques_NL.pdf"><img src="../../style/svg/info.svg" alt="" style="width:16px; height:16px; padding:3px;"> :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore VERZACHT_HET_KLIMAAT}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel VERZACHT_HET_KLIMAAT}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Beperkt de erosie van de bodem :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore BEPERKT_DE_EROSIE_VAN_DE_BODEM}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel BEPERKT_DE_EROSIE_VAN_DE_BODEM}}{{/Klabel}}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="label">Doet goed, is nuttig :</div>
                    <div class="content">
                        <span class="k-score">{{#Kscore DOET_GOED_IS_NUTTIG}}{{/Kscore}}</span>
                        <span class="k-label">{{#Klabel DOET_GOED_IS_NUTTIG}}{{/Klabel}}</span>
                    </div>
                </div>
            </section>
            {{/if}}
            <!-- End of : Only show if tree is "remarquable" -->
            <!-- /services -->

        </section>

        <!-- BLOCK MIDDLE -->
        <section class="block-middle">

            <!-- description -->
            <section class="description">
                {{#if is_remarquable}}
                <h2>Kenmerken/Karakter van het individu</h2>
                {{else}}
                <h2>Kenmerken/Karakter van het bekende boom</h2>
                {{/if}}
                <div class="item">
                    <div class="content">
                        <p>{{{KENMERKEN_KARAKTER_VAN_HET_INDIVIDU}}}</p>
                    </div>
                </div>
            </section>

            <!-- Activités -->
            {{#if_not_empty ACTIVITE_NL}}
            <section class="item">
                <h2>Link naar activiteiten</h2>
                {{#each ACTIVITE_NL}}
                <div class="item">
                    <div class="content">
                        <p><a href="{{url}}">{{label}}</a></p>
                    </div>
                </div>
                {{/each}}
            </section>
            {{/if_not_empty}}

            <!-- heritage / patrimoine-->
            {{#if_not_empty LIEN_PATRIMOINE_REGIONAL_NL}}
            <section class="heritage">
                <h2>Dit individu maakt deel uit van het xxx levende erfgoed</h2>
                {{#each LIEN_PATRIMOINE_REGIONAL_NL}}
                <div class="patrimoine regional">
                    <span>Regionale > </span>
                    <span><a href="{{url}}" target="_blank">Inventaire scientifique</a></span>
                </div>
                {{/each}}
                {{#each LIEN_PATRIMOINE_NATIONAL_NL}}
                <div class="patrimoine national">
                    <span>Nationale > </span>
                    <span><a href="{{url}}" target="_blank">Dendrologie</a></span>
                </div>
                {{/each}}
                {{#each LIEN_PATRIMOINE_MONDIAL_NL}}
                <div class="patrimoine mondial">
                    <span>Wereldwijde > </span>
                    <span><a href="{{url}}" target="_blank">Monumental tree</a></span>
                </div>
                {{/each}}
            </section>
            {{/if_not_empty}}
        </section>


        <!-- attached-medias -->
        <!-- <section class="attached-medias">

        </section> -->

        <!-- we put a bulk of medias in there, trying to float them all...  -->

        {{#each PLANCHE_BOTA}}
        <div class="planche-bota-wrapper">
            <a href="../../images/botanic/{{name}}">
                <img src="../../images/botanic/{{name}}" alt="">
            </a>
            <div class="caption">
                {{caption_nl}}
            </div>
        </div>
        {{/each}}

        {{#each EMBED_MEDIA_VIMEO}}
        <div class="media-video">
            <iframe src="https://player.vimeo.com/video/{{embed}}?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="video-v" frameborder="0"></iframe>
        </div>
        {{/each}}

        {{#each EMBED_MEDIA_YOUTUBE}}
        <div class="media-video">
            <iframe  width="100%" src="https://www.youtube.com/embed/{{embed}}?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        {{/each}}

        {{#each medias}}
        <div class="media-image-wrapper">
        <a href="{{image_url}}">
            <div id="{{id}}" class="media-image"></div>
        </a>
        </div>
        {{/each}}

        <!-- PORTRAIT -->
        {{#if_not_empty PORTRAIT_NL}}
        <div class="portrait">
            {{{PORTRAIT_NL}}}
        </div>
        {{/if_not_empty}}

        <!-- twinning -->
        {{#if LIEN_JUMELAGE}}
        <section class="twinning">
            <h2>Als u van dit soort boom houdt, zult u ook houden van
            In Brussel</h2>
            <div class="belgique">
                <p>In België</p>
                {{#each LIEN_JUMELAGE_BELGIQUE}}
                <li><a href="{{url}}" target="_blank">{{label_nl}}</a></li>
                {{/each}}
            </div>
            <div class="europe">
                <p>In de Europese Unie</p>
                {{#each LIEN_JUMELAGE_EUROPE}}
                <li><a href="{{url}}" target="_blank">{{label_nl}}</a></li>
                {{/each}}
            </div>
            <div class="monde">
                <p>Elders in de wereld</p>
                {{#each LIEN_JUMELAGE_MONDE}}
                <li><a href="{{url}}" target="_blank">{{label_nl}}</a></li>
                {{/each}}
            </div>

        </section>
        {{/if}}

        <!-- linked-medias -->
        {{#if LINKED_MEDIAS}}
        <section class="linked-medias">
            <h2>Gerelateerde media</h2>
            {{#each LINKED_MEDIAS}}
            <li><a href="{{url}}" target="_blank">{{label_nl}}</a></li>
            {{/each}}
        </section>
        {{/if}}
    </section>
    <section class="footer-atlas">
        <a href="../../../nl/index.html"><img src="../../style/svg/www.svg" alt="wood wide web"></a>
        <a href="../../../nl/index.html#footer">Contact & Nieuwsbrief</a>
        <a href="https://www.facebook.com/Arbres-bruxellois-283959091674027/" target="_blank"><img src="../../style/svg/fb-white.svg" alt=""></a>
        <div class="copyright">
            © 32shoot asbl
        </div>

        <div class="ac-credits">
            dev &amp; design :
            <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">a.-c.</a>
        </div>
    </section>
</body>

</html>
